mat-card {
    padding: 18px;
    padding-bottom: 0px;
    border-radius: 0px;
    font-family: 'SF UI Text';
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0px 0 #dddddd;
    padding-right: 0px;
}

.mat-card-avatar {
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.user-name {
    color: #2c2605;
    font-size: 13px;
    font-weight: 600;   
    padding: 2px 0px;
}

.review-date {
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
}

.review-content {
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    min-height: 15px;
    margin-top: 13px;
}

.ratebar {
    height: 20px;
    margin-left: 5px;

    .rate-star {
        margin-right: 2px;
    }
}

.split {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}