<header class="header-profile fixed-bar">
  <nav class="navbar bg-grey">
    <span class="icon-bar"></span>
    <div class="navbar-title-heading">Profile</div>
    <div class="navbar-edit-profile">
      <a href="#" class="">Edit <i class="fa fa-pencil"></i></a>
    </div>
  </nav>
</header>
<div class="profile_content">
  <section class="profile-heading">
    <div class="profile-heading_info">
      <div class="img_user">
        <img src="../assets/images/profile/icon_user_profile.png">
      </div>
      <div class="profile-info">
        <div class="profile_name">Edward Norton</div>
        <div class="profile_speciality">
          <label>Speciality</label>
          <span>Lorem ispum</span>
        </div>
      </div>
    </div>
  </section>
  <section class="profile_Residency">
    <div class="profile_title small f300">Experience</div>
    <div class="profile__content">
      <div class="profile__icon exp_icon"></div>
      <div class="profile__content_info">
        <span class="not_residency">No experience added yet.</span>
      </div>
    </div>
  </section>
  <section class="profile_Residency">
    <div class="profile_title small f300">Residency</div>
    <div class="profile__content">
      <div class="profile__icon"></div>
      <div class="profile__content_info">
        <span class="not_residency">No residency added yet.</span>
      </div>
    </div>
  </section>
  <section class="profile_Education">
    <div class="profile_title small f300">Education</div>
    <div class="profile__content">
      <div class="profile__icon education-icon"></div>
      <div class="profile__content_info">
        <span class="not_residency">No education added yet.</span>
      </div>
    </div>
  </section>
  <section class="profile_Contact">
    <div class="profile_title small f300">Contact</div>
    <div class="profile__content">
      <div class="profile__icon contact-icon"></div>
      <div class="profile__content_info">
        <span class="pre_email_addr"><strong>Preferred Email Address</strong></span> 
        <span class="addr-link">edward.norton@cads.edu</span>
      </div>
    </div>
  </section>
</div>
