<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Privacy Policy">
    <p>
      <label>1. Introduction</label><br>
      <strong>Questions.</strong> If you have any questions or concerns about our privacy policy, contact our privacy team by emailing rgroves@thenextmediagroup.com. You may also contact us by mail at 1000 Wyckoff Avenue, Mahwah, NJ, 07430.<br>
      <br><strong>Scope.</strong> This privacy policy covers all of DSODentist. It does not, however, apply to entities that Next Media Group, Inc. does not own or control, such as websites or mobile apps using the platform. By using or accessing DSODentist, you agree to the privacy practices outlined herein.<br>
      <br><strong>No information from children under age 18.</strong> If you are under age 18, please do not attempt to register for DSODentist or provide any personal information about yourself to us. If we learn that we have collected personal information from a user under age 18, we will delete that information as quickly as possible. If you believe that we might have any information from a child under age 18, please contact us by emailing rgroves@thenextmediagroup.com.<br>
      <br><strong>Parental participation.</strong> We strongly recommend that minors 18 years of age or older ask their parents for permission before sending any information about themselves to anyone over the Internet and we encourage parents to teach their children about safe internet use practices.        
    </p>
  </mat-tab>
  <mat-tab label="Terms & Conditions">
    <p>
      <strong>1. Introduction</strong><br>
      <strong>Questions.</strong> If you have any questions or concerns about our privacy policy, contact our privacy team by emailing rgroves@thenextmediagroup.com. You may also contact us by mail at 1000 Wyckoff Avenue, Mahwah, NJ, 07430.<br>
      <strong>Scope.</strong> This privacy policy covers all of DSODentist. It does not, however, apply to entities that Next Media Group, Inc. does not own or control, such as websites or mobile apps using the platform. By using or accessing DSODentist, you agree to the privacy practices outlined herein.<br>
      <strong>No information from children under age 18.</strong> If you are under age 18, please do not attempt to register for DSODentist or provide any personal information about yourself to us. If we learn that we have collected personal information from a user under age 18, we will delete that information as quickly as possible. If you believe that we might have any information from a child under age 18, please contact us by emailing rgroves@thenextmediagroup.com.<br>
      <strong>Parental participation.</strong> We strongly recommend that minors 18 years of age or older ask their parents for permission before sending any information about themselves to anyone over the Internet and we encourage parents to teach their children about safe internet use practices.        
    </p>
  </mat-tab>
</mat-tab-group>