.sponsor-header {
    line-height: 0;

    img {
        width: 100%;
        height: auto;
    }
}

.sponsor-category {
    color: #1a191a;
    background-color: #f3f4f5;
    padding: 16px;
    font-size: 17px;
    font-family: 'SFUI';
    font-weight: 700;
}

.sponsor-contents {
    padding-bottom: 70px;
}