mat-card {
    padding: 14px;

    .job-log {
        width: 51px;
        margin-right: 13px;

        img {
            width: 51px;
            height: auto;
        }
    }

    .job-details {
        flex: 1 1 auto;

        .job-title {
            color: #1b1b1b;
            font-size: 14px;
            font-family: 'SFUI';
            font-weight: 600;
        }
    
        .job-days {
            color: #879aa8;
            font-size: 12px;
            font-weight: 400;
        }
    
        .company-name {
            color: #9b9b9b;
            margin-top: 8px;
            font-size: 11px;
            font-weight: 400;
        }
    
        .job-salary {
            margin-top: 4px;
            height: 20px;
    
            .salary-avatar {
                margin-right: 7px;
            }
    
            label {
                color: #879aa8;
                font-size: 12px;
                font-weight: 500;
            }

            button {
                margin-right: -13px;
                z-index: 10;
            }
        }
    }
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0px 0 #dddddd;
}

.space {
    flex: 1 1 auto;
}

.log-new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}