<div #card class="article-item" (click)="onDetailUnite(article.id)">
    <div class="article-container">
        <div *ngIf="!isNullThumbnail(article.thumbnail)" class="article-thumbnail" [class.black-color]="isCover"></div>
        <div *ngIf="isAD" [innerHtml]="article.content"></div>
        <div *ngIf="!isCover&&!isAD" class="article-content">
            <p class="article-title">{{article.title}}</p>
            <p class="article-author">{{article.authorName}}</p>
            <div class="article-excerpt" [innerHtml]="article.excerpt"></div>
        </div>
    </div>
    <div *ngIf="isCover" fxLayout="row" fxLayoutAlign="center center" class="article-footer">
        <div class="unite-arrow unite-left"></div>
        <div class="footer-label">Swipe between articles</div>
        <div class="unite-arrow unite-right"></div>
    </div>
</div>
