@import "../../../../variables";
@import "../../../../responsive";

.article-item {
    width: 100vw;
    height: calc(100vh - 45px);

    .article-container {
        width: 100%;
        background-color: #ffffff;
        overflow: hidden;

        .article-thumbnail {
            height: calc(100vh - 200px);
            background-image: url("../../../../assets/images/unite/cover-page.png");
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
        }

        .article-content {
            padding: 15px 10px;
            
            .article-category {
                color: #78aed0;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 7px;
            }

            .article-title {
                color: #4a4a4a;
                font-size: 17px;
                font-weight: 600;
                line-height: 20px;
            }
            
            .article-author {
                color: #c8c8c8;
                font-size: 14px;
                font-weight: 500;
                margin: 7px 0px 25px;
            }
            
            .article-excerpt {
                color: #000000;
                font-size: 14px;
                line-height: 20px;
                overflow: hidden;
            }   
        }
    }

    .article-footer {
        margin: 53px 0px 30px;
        
        .unite-arrow {
            width: 14px;
            height: 14px;
            border: 2px solid #ffffff;
            border-width: 0 3px 3px 0;
        }
        
        .unite-arrow.unite-right {
            transform: rotate(-45deg);
        }
        
        .unite-arrow.unite-left {
            transform: rotate(135deg);
        }
        
        .footer-label {
            color: #ffffff;
            font-family: 'SFUI';
            font-size: 15px;
            font-weight: 500;
            margin: 0px 12px;
        }
    }
}

.black-color {
    background-color: #000000;
}

:host ::ng-deep {
    img {
        width: 100%;
        height: auto;
    }
}