mat-card {
    border: 1px solid #f7f7f7;
    padding: 14px;
    margin: 16px;
    margin-top: 0px;

    .job-log {
        margin-right: 13px;

        img {
            width: 51px;
            height: 51px;
        }
    }

    .job-details {
        flex: 1 1 auto;

        .job-title {
            color: #1b1b1b;
            font-size: 16px;
            font-family: 'SFUI';
            font-weight: 600;
        }
    
        .job-days {
            color: #879aa8;
            margin-bottom: 1px;
            font-size: 12px;
            font-weight: 400;
        }
    
        .company-name {
            color: #9b9b9b;
            font-size: 13px;
            font-weight: 400;
        }

        p:last-child {
            margin-top: 14px;

            img {
                margin-top: 1px;
            }
        }
    }

    .company-desc {
        color: #c8c8c9;
        width: 90%;
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
    }
}

.job-salary {
    margin-top: 8px;

    img {
        margin-right: 7px;
    }

    label {
        color: #9c9c9c;
        font-size: 14px;
        font-weight: 400;
    }
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0px 0 #dddddd;
}

.space {
    flex: 1 1 auto;
}

.log-new {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}