
<mat-card (click)="onGoToDetail()">
  <div fxLayout="row" fxLayoutAlign="start center">
    <img *ngIf="dayBetween > 30 && job.status==1" class="log-new" src="assets/images/career/new.png">
    <img *ngIf="job.isApplied" class="log-new" src="assets/images/career/apply.png">
    <div class="job-log">
      <img [src]="job.logoURL">
    </div>
    <div class="job-details">
      <p fxLayout="row" fxLayoutAlign="start end">
        <label class="job-title" >{{job.jobTitle}}</label>
        <span class="space"></span>
        <label class="job-days">{{days}}</label>
      </p>
      <p fxLayout="row" fxLayoutAlign="start center">
        <span class="company-name">Supported by {{job.companyName}}</span>
        <span class="space"></span>
        <button *ngIf="type!==1" mat-icon-button class="bookmark-btn" (click)="onBookmark()">
          <img *ngIf="!job.isSaved" src="assets/images/career/save_inactive.png">
          <img *ngIf="job.isSaved" src="assets/images/career/save_active.png">
        </button>
      </p>
    </div>
  </div>
  <div class="job-desc">{{job.jobDescription}}</div>
  <div class="job-salary" fxLayout="row" fxLayoutAlign="start end">
    <img src="assets/images/career/location.png">
    <label>{{job.city}}</label>
    <span class="space"></span>
    <label *ngIf="job.status==3">Closed</label>
    <span class="space"></span>
    <img src="assets/images/career/salary2.png">
    <label>{{job.salaryStartingValue}} - {{job.salaryEndValue}}</label>
  </div>
</mat-card>