@import "../../../../variables";

.bookmark-card {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 20px;

  h4 {
    text-transform: uppercase;
    letter-spacing: 0.9px;
    color: #4c4c4c;
  }
}

.image {
  flex-basis: 25%;
  min-width: 100px;
  min-height: 100px;
  position: relative;

  .bookmark-image {
    max-width: 100%;
    height: auto;
  }
}

.bookmark-icon {
  color: #879AA8;
}

.mat-body-2 {
  margin-bottom: 10px;
  color: #354051;
}

.actions {
  flex-shrink: 1;
}
