<mat-card>
  <mat-card-content class="bookmark-card">
    <div *ngIf="post.thumbnail" class="image" (click)="onPostBookmark(post.id, post.sponsorId)">
      <img class="bookmark-image" [src]="post.thumbnail">
    </div>
    <div class="information" (click)="onPostBookmark(post.id, post.sponsorId)">
      <h4 class="mat-h4">
        {{post.categoryName}}
      </h4>
      <div class="mat-body-2" [innerHTML]="post.title">
      </div>
    </div>
    <div content="actions">
      <button mat-icon-button (click)="onRemove()">
        <mat-icon aria-label="Bookmark" class="bookmark-icon">bookmark</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
