<mat-card>
  <mat-card-content class="bookmark-card">
    <!--<div class="image">-->
      <!--<img class="bookmark-image" src="/src/assets/images/bookmark-image.jpg">-->
      <!--<div class="type">-->
        <!--<img src="/src/assets/images/Animation.png">-->
      <!--</div>-->
    <!--</div>-->
    <div class="information">
      <h3 class="mat-h3">
        {{post.category.name}}
      </h3>
      <div class="mat-body-2">
        {{post.title}}
      </div>
      <div class="mat-body-1" [innerHTML]="post.excerpt"></div>
    </div>
    <div content="actions">
      <button mat-icon-button (click)="onRemove()">
        <mat-icon aria-label="Bookmark" class="bookmark-icon">bookmark</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
