.bookmark-card {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex: 1;
  flex-basis: 40%;
  flex-direction: column;
  padding-left: 20px;
  h3 {
    text-transform: uppercase;
  }
}

.image {
  flex-basis: 40%;
  position: relative;
  .bookmark-image {
    max-width: 100%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .type {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}

.bookmark-icon {
  color: #879AA8;
}

.mat-body-2 {
  margin-bottom: 10px;
}
