* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.textCenter {
    text-align: center;
}

.logoBox {
    padding-top: 10px;
    .logo {
        background: url('../images/logo.png') no-repeat;
        background-size: contain;
        width: 260px;
        height: 50px;
        margin: 0 auto;
    }
}

.link {
    color: #FFF;
    &.underline {
        text-decoration: underline;
    }
}

.whiteNav {
    background: #FFF;
    border-bottom: 1px solid #979797;
    padding: 15px 0px;
    .pageTitle {
        text-transform: uppercase;
        text-align: center;
    }
    .navActions {
        position: absolute;
        &.right {
            right: 10px;
            top: 10px;
        }
        &.left {
            left: 10px;
            top: 10px;
        }
    }
    &.bgGray {
        background: #787878;
        color: #FFF;
        .btn {
            color: #FFF;
        }
    }
}

.btn-go-to-top {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  background: #ffffff;
  color: #191919;
  border-radius: 50%;
  border: none;
  display: none;
  font-size: 20px;
  transition: 0.2s all ease;
  justify-content: center;
  align-items: center;
  // padding-bottom: 6px;
  padding: 0;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  &.show {
    display: block;
  }
}
