$color_1: #fff;
$color_2: #4a4a4a;
$color_3: #9b9b9b;
$color_4: #797979;
$color_5: #000;
$color_6: #879aa8;
$color_7: #030303;
$color_8: #007aff;
$color_9: #000000;
$font_family_1: "sfSemiBold";
$font_family_2: "sfBold";
$font_family_3: "sfRegular";
$background_color_1: #fafbfd;
$background_color_2: #fff;
$background_color_3: #f9f8ee;
$background_color_4: #eef3f9;
$background_color_5: transparent;
$background_color_6: #f9f2ee;
$background_color_7: #f1f5ef;
$background_color_8: #ffffff;
$background_color_9: #f5a623;
$background_color_10: #007ab9;
$background_color_11: #f0f0f0;
$background_color_12: #f3f5f7;
$background_color_13: #e9edf1;
$background_color_14: rgba(248, 248, 248, 0.82);
$border_color_1: #e9edf1;
$border_color_2: #879aa8;

.header-profile {
	width: 100%;
	height: 45px;
}
.bg-grey {
	background: #787878;
}
nav.navbar {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 45px;
	align-items: center;
}
span.icon-bar {
	position: absolute;
	width: 30px;
	left: 15px;
	height: 30px;
	background: url(../images/profile/icon-bars.png) no-repeat center;
	background-size: auto;
}
.navbar-edit-profile {
	position: absolute;
	padding: 5px 15px;
	right: 0px;
	z-index: 1;
	a {
		color: $color_1;
		text-decoration: none;
	}
	i {
		display: inline-block;
		margin-left: .3rem;
	}
}
.navbar-title-heading {
	position: relative;
	color: $color_1;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-transform: uppercase;
	font-family: $font_family_1;
}
.profile_content {
	position: relative;
	width: 100%;
}
.profile-heading {
	position: relative;
	width: 100%;
	min-height: 96px;
	background-color: $background_color_1;
	padding: 10px 15px;
	padding-top: 0px;
}
.profile-heading_info {
	position: relative;
	display: flex;
}
.img_user {
	width: 70px;
	height: 70px;
	margin-top: 10px;
	background: transparent;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: auto;
	}
}
.profile-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 15px;
	width: calc(100% - 70px);
	position: relative;
}
.profile_name {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 10px;
	font-family: $font_family_2;
	letter-spacing: -0.18px;
}
.profile_speciality {
	display: block;
	width: 100%;
	label {
		color: #9b9b9b;
		font-size: 12px;
		display: block;
		font-weight: 400;
		margin-bottom: 3px;
	}
	span {
		display: block;
		font-weight: 600;
		font-size: 14px;
		font-family: $font_family_1;
	}
}
.profile_Residency {
	position: relative;
	width: 100%;
	background-color: $background_color_2;
	padding: 10px 15px;
	border-bottom: 1px solid #e9edf1;
	z-index: 1;
}
.profile_title {
	color: $color_3;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: 400;
}
.profile__content {
	display: flex;
	position: relative;
	margin-bottom: 10px;
	padding: 10px 0;
	&:last-child {
		margin-bottom: 0;
	}
}
.profile__icon {
	width: 48px;
	height: 48px;
	background-color: $background_color_3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../images/profile/icon_residency.png);
	background-repeat: no-repeat;
	background-position: center;
}
.profile__content_info {
	display: flex;
	justify-content: center;
	align-content: center;
	padding-left: 15px;
	width: calc(100% - 45px);
	flex-direction: column;
}

.uploaded_profile__content_info {
  display: flex;
  margin-left: 15px;
  padding: 0px 15px;
  width: calc(100% - 60px);
  flex-direction: row;
  border: 1px solid #e3e3e3;
  justify-content: space-between;
}

.uploaded_profile_info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  line-height: normal;
}

.uploaded_remove {
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.uploaded_remove i {
  color: #9b9b9b;
}

.uploaded_profile_subtitle {
  word-wrap: break-word;
}

.profile_Education {
	position: relative;
	width: 100%;
	min-height: 96px;
	background-color: $background_color_2;
	padding: 10px 15px;
	border-bottom: 1px solid #e9edf1;
	z-index: 1;
}
.education-icon {
	background-color: $background_color_4;
	background-image: url(../images/profile/icon_education.png);
	background-repeat: no-repeat;
	background-position: center;
}
span.not_residency {
	color: $color_3;
	font-size: 14px;
}
.profile_Contact {
	position: relative;
	width: 100%;
	min-height: 96px;
	background-color: $background_color_2;
	border-bottom: 1px solid #e9edf1;
	padding: 10px 15px;
	padding-right: 0px;
	box-shadow: 0 1px 0 #e9edf1;

	.profile_title {
		margin-bottom: 15px;
	}
}
.profile_footer {
	width: 100%;
	height: 17px;
	background-color: #ffffff;
}
.contact-icon {
	background-image: url(../images/profile/icon_email.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_5;
}
.pre_email_addr {
	color: $color_2;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 3px;
	line-height: 16px;
	font-family: $font_family_1;
}
.addr-link {
	font-size: 12px;
	color: $color_4;
}
.profile_subtitle {
	color: $color_2;
	font-family: $font_family_1;
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
}
.profile-job {
	font-size: 12px;
	font-weight: 400;
	font-family: $font_family_3;
	line-height: 14px;
}
.date-job {
	font-size: 12px;
	font-weight: 400;
	font-family: $font_family_3;
	line-height: 14px;
	color: $color_3;
}
.bt {
	&:before {
		content: "";
		position: absolute;
		width: calc(100% - 63px);
		background: #ddd;
		height: 1px;
		right: 0;
		bottom: 0;
	}
	&:last-child {
		&:before {
			display: none;
		}
	}
}
.education-icon2 {
	background-color: $background_color_6;
	background-image: url(../images/profile/icon_edu2.png);
	background-repeat: no-repeat;
	background-position: center;
}
.mobile-icon {
	background-image: url(../images/profile/mobile_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_5;
}
.practice-icon {
	background-image: url(../images/profile/icon_practice.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_5;
}
.exp_icon {
	background-image: url(../images/profile/exp_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_7;
}
.cl4a {
	color: $color_2;
}
a.back-link {
	position: absolute;
	left: 0;
	top: 8px;
}
span.icon-back {
	background: url(../images/profile/back_icon.png) no-repeat center;
}
.profile-header {
	height: 200px;
	background-color: $background_color_8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile-img {
	display: block;
	text-align: center;
	position: relative;
}
.avatar_profile {
	position: relative;
	width: 115px;
	height: 115px;
	img {
		width: 100%;
	}
}
.edit_profile {
	display: block;
	position: relative;
}
.edit-icon {
	position: absolute;
	z-index: 1;
	bottom: -10px;
	right: -20px;
	width: 41px;
	height: 41px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: $background_color_8;
	border-radius: 100%;
	background-image: url(../images/profile/edit_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.personal-info {
	position: relative;
	display: block;
	padding: 10px 15px;
}
.personal-container {
	position: relative;
}
.mh-vh {
	min-height: calc(100vh - 55px);
}
.personal-group {
	margin-bottom: 10px;
}
.personal-underline {
  height: 1px;
  background-color: $color_3;
  width: 100%;
  margin-bottom: 5px;
}
.personal-edit-icon {
  color: $color_3;
  font-size: 18px;
}
.input-mb {
	height: 44px;
	width: 100%;
	border: 0;
	font-size: 15px;
	font-weight: 400;
	font-family: $font_family_1;
	outline: none;
}
.mb15 {
	margin-bottom: 15px;
}
.mb0 {
	margin-bottom: 0;
}
.upload-icon {
	background-image: url(../images/profile/upload_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_9;
}
.linkedin-upload {
	background-image: url(../images/profile/linkedin-medium.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_10;
}
.mt10 {
	margin-top: 10px;
}
.addNew-icon {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/profile/addNew_icon.png) no-repeat center;
	top: 16px;
	right: 15px;
}
.arrow-right {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/profile/arrow-right.png) no-repeat center;
	top: calc(50% - 8px);
	right: 0;
}
.arrow-right-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../images/profile/arrow-right.png) no-repeat center;
  //top: calc(50% - 8px);
  //right: 0;
}
.exp_owner {
	background-image: url(../images/profile/icon_experience.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: $background_color_11;
}
.target_link {
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
	height: 16px;
	display: inline-block;
}
.icon_linkedin {
	width: 16px;
	height: 16px;
	background: url(../images/profile/icon-linkedin.png) no-repeat center;
	display: inline-block;
	position: relative;
}
.speciality-container {
	position: relative;
	margin-top: 45px;
}
.speciality-search {
	width: 100%;
	background-color: $background_color_2;
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
}
.search-container {
	position: relative;
	display: block;
}
.input-search {
	height: 36px;
	border-radius: 8px;
	background-color: $background_color_12;
	width: 100%;
	border: 0;
	padding: 0 10px 0 35px;
	font-size: 15px;
	font-weight: 400;
	font-family: $font_family_3;
}
.icon-search {
	width: 15px;
	height: 15px;
	position: absolute;
	background: url(../images/profile/icon-search.png) no-repeat center;
	top: 10px;
	left: 10px;
}
.speciality-content {
	display: flex;
	position: relative;
}
.speciality__list {
	display: block;
	position: relative;
	width: 100%;
}
.list__left {
	width: calc(100% - 15px);
	position: relative;
}
.right {
	width: 15px;
	position: fixed;
	right: 0;
	background-color: $background_color_13;
	top: 102px;
	bottom: 0;
	display: flex;
}
.speciality-ul {
	li {
		padding: 10px 20px;
		a {
			display: block;
			line-height: 24px;
			color: $color_5;
			font-size: 15px;
			font-weight: 400;
		}
	}
}
.alpha-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	li {
		a {
			font-size: 11px;
			line-height: 20px;
			text-transform: uppercase;
			text-align: center;
			display: block;
			color: $color_2;
		}
	}
}
.practice-add {
	padding: 15px 0;
}
.practice-group {
	padding: 10px 15px;
	border-bottom: 1px solid #bcbbc1;
	position: relative;
	.arrow-right {
		right: 10px;
	}
}
.cancel-row {
	padding: 10px;
	position: absolute;
	text-align: center;
	margin-top: 100px;
	bottom: 5vh;
	display: flex;
	width: 100%;
	justify-content: center;
	a {
		color: $color_6;
		font-size: 15px;
	}
}
.edit-practice {
	position: absolute;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(../images/profile/edit_icon.png) no-repeat center;
	top: calc(50% - 8px);
	right: 10px;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}
.upload-file {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.4);
	}
}
.modal-container {
	background: #fff;
	bottom: 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
}
.upload-content {
	position: relative;
	padding: 15px;
}
.upload-browse {
	position: relative;
	height: 50px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: 1px solid #dddddd;
}
.upload-hidden {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
	width: 100%;
}
.type-upload {
	font-size: 13px;
	font-weight: 600;
	color: $color_2;
	font-family: $font_family_1;
}
.mb10 {
	margin-bottom: 10px;
}
.alert-modal {
	position: relative;
	width: 100%;
	max-width: 270px;
	background: rgba(255, 255, 255, 0.8);
	top: calc(50% - 70px);
	margin: 0 auto;
	border-radius: 12px;
	text-align: center;
}
.alert-container {
	position: relative;
}
.alert-txt {
	padding: 20px;
	h5 {
		font-size: 17px;
		font-weight: 500;
		font-family: $font_family_1;
		color: $color_7;
		line-height: 20px;
	}
	p {
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		display: block;
		margin-top: 10px;
		color: $color_7;
	}
}
.alert-action {
	height: 45px;
	border-top: 1px solid #ccc;
	display: flex;
	justify-content: space-around;
	align-items: center;
	a {
		width: 50%;
		border-right: 1px solid #ccc;
		height: 45px;
		align-items: center;
		display: flex;
		justify-content: center;
		color: $color_8 !important;
		&:last-child {
			border-right: 0;
		}
	}
}
.switch {
	border: 1px solid #e0e0e0;
	border-radius: 48px;
	display: inline-block;
	width: 50px;
	position: relative;
	height: 30px;
	cursor: pointer;
	transition: all .2s ease-in-out;
	background: #e9edf1;
	border-color: $border_color_1;
	.handle {
		border-radius: 50%;
		width: 25px;
		height: 25px;
		background: #fff;
		position: absolute;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		transition: all .2s ease-in-out;
		left: 2px;
		top: 1px;
	}
	&:active {
		.handle {
			width: 40px;
			border-radius: 24px;
		}
	}
}
.switch.on {
	background: #879aa8;
	border-color: $border_color_2;
	.handle {
		right: 1px;
		top: 1px;
		left: auto;
	}
}
.toggle-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 56px;
}
.flex {
	display: flex;
}
.col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-flow: column nowrap;
}
.s6 {
	width: 50%;
	display: flex;
	position: relative;
}
.flex-input {
	display: flex;
	align-items: center;
}
.save-modal {
	position: relative;
	width: 270px;
	border-radius: 14px;
	background-color: $background_color_14;
	top: calc(50% - 65px);
	margin: 0 auto;
}
.save-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	p {
		width: 238px;
		color: $color_9;
		font-size: 13px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.08px;
		text-align: center;
    padding-bottom: 1em;
	}
}
.save-alert {
	color: $color_9;
	font-size: 17px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.41px;
	font-family: $font_family_1;
  padding: 1em 0 0.5em 0;
}

.process-profile {
    width: 100%;
    height: 31px;
    border-bottom: 1px solid $background_color_13;
    background-color: #fafbfd;
    position: relative;
}

.process-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    align-items: center;
    height: 31px;
}
.process-container {
	&:before {
	content: "";
	position: absolute;
	height: 4px;
	border-radius: 4px;
	background-color: $background_color_13;
	width: calc(100% - 110px);
	}
}
.process-bar {
    position: relative;
    height: 4px;
    background: $color_6;
    border-radius: 4px;
}

.process-info {
    position: relative;
    color: $color_6;
    font-size: 12px;
}
strong {
  font-weight: bold;
  font-family: "SFUI";
}
