<div *ngIf="!isPlaceholder" class="career-container">
  <div class="heading"></div>
  <div class="main-container">
    <mat-grid-list cols="2" rowHeight="fit">
      <mat-grid-tile *ngFor="let link of links">
        <div class="tile-content" fxLayout="column" fxLayoutAlign="center center" (click)="onGoTo(link.url)">
          <img [src]="'assets/images/career/' + link.icon + '.png'">
          <p class="tile-title">{{link.title}}</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
<div *ngIf="isPlaceholder" class="placeholder"></div>