<article *ngIf="isPlaceholder" class="placeholder"></article>
<article *ngIf="!isPlaceholder">
    <div class="header">
        <slideshow
            [imageUrls]="slideUrls"
            [autoPlay]="true"
            [showArrows]="false"
            [showDots]="true"
            [minHeight] = "slideHeight"
            [stopAutoPlayOnSlide]="false">
        </slideshow>
        <div class="header-mask"></div>
    </div>
    <div class="category" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Categories</span>
        <!--<button mat-button>See all</button>-->
    </div>
    <nav mat-tab-nav-bar>
        <div *ngFor="let link of navLinks" >
            <a *ngIf="link.route" mat-tab-link #rla="routerLinkActive" [routerLink]="link.route" routerLinkActive
            [class.active]="isActive(link)">
            {{link.label}}
            </a>
            <mat-menu #submenu="matMenu" yPosition="below" [overlapTrigger]="false">
            <a mat-menu-item [class.active]="isActive(subLink)" *ngFor="let subLink of link.subMenu" [routerLink]="subLink.route" routerLinkActive>{{subLink.label}}</a>
            </mat-menu>
            <a mat-tab-link [matMenuTriggerFor]="submenu" *ngIf="link.subMenu">
            {{link.label}}
            </a>
        </div>
    </nav>
    <div class="contents">
        <div *ngIf="!isFeatured" class="course-common">
            <dso-course-card [course]="course" *ngFor="let course of courses"></dso-course-card>
        </div>
        <div *ngIf="isFeatured">
            <div class="category" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Courses you may like</span>
                <button mat-button>See More</button>
            </div>
            <div>
                <dso-course-card [course]="course" *ngFor="let course of courses"></dso-course-card>  
            </div>
            <div class="category" fxLayout="row" fxLayoutAlign="space-between center">
                <span>Latest Courses</span>
                <button mat-button>See More</button>
            </div>
            <div>
                <dso-course-card [course]="course" *ngFor="let course of courses"></dso-course-card>  
            </div>
        </div>
    </div>
</article>
<div class="main-mask"></div>
