mat-card {
    padding: 11px 19px 12px;

    .review-title {
        color: #1b1b1b;
        font-size: 13px;
        font-weight: 600;
        font-family: 'SFUI';
        padding-left: 3px;
    }

    .ratebar {
        margin-top: 5px;
        padding-left: 3px;

        .rate-star {
            margin-right: 2px;
        }
    }

    .employee-info {
        color: rgba(120, 120, 120, 0.82);
        font-size: 9px;
        font-weight: 400;
        margin-top: 5px;
        padding-left: 3px;
    }

    .review-contents {
        margin-top: 15px;

        .review-type {
            color: #4a4a4a;
            font-size: 12px;
            font-weight: 600;
            font-family: 'SFUI';
        }
    
        .review-text {
            color: #9b9b9b;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            margin-top: 5px
        }
    }

    .review-footer {
        color: #1b1b1b;
        font-size: 9px;
        font-weight: 400;
        margin-top: 7px;

        button {
            color: #879aa8;
            font-size: 13px;
            font-weight: 700;
            font-family: 'SFUI';
            margin-right: -17px;
        }
    }
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0px 0 #dddddd;
}

.space {
    flex: 1 1 auto;
}

p {
    overflow-wrap: break-word;
}