.main-nav {
  width: 100%;
  height: 52px;
  position: absolute;
  top: 0;
  z-index: 10;

  &-fix {
    margin-top: 24px;
  }

  &-icon {
    width: 23px;
    height: 16px;
    background-image: url('../../assets/images/nav-icon.png');
    background-repeat: no-repeat;
  }

  &-wrap-icon {
    width: 23px;
    padding: 5px;
  }
  
  &-icon-back {
    width: 23px;
    height: 16px;
    background-image: url('../../assets/images/icon-back.png');
    background-repeat: no-repeat;

  }
}
