<div *ngIf="issue" class="thumbnail">
  <div *ngIf="issue" class="article-info" fxLayout="column" fxLayoutAlign="center center">
      <p class="article-date">{{issue.date}}</p>
      <p class="article-details">{{issue.details}}</p>
  </div>
  <div class="unite-thumbnail-container" fxLayout="row">
    <dso-article-card [isBookmark]="false" [article]="coverPage"></dso-article-card>
    <dso-article-card [isBookmark]="false" [issueId]="issue.id"
      [article]="article" *ngFor="let article of articles"></dso-article-card>
  </div>
</div>
