<div *ngIf="type=='search' && !companies" class="search-options">
  <form name="searchForm" (ngSubmit)="searchForm.form.valid && onSearch()" #searchForm="ngForm" class="search-form"
        novalidate>
    <mat-form-field appearance="outline">
      <input matInput name="term" [(ngModel)]="term" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-button color="primary">Search</button>
  </form>
</div>
<div id="contents" infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onLoadMore()"
    [scrollWindow]="false"
    (scroll)="onScroll($event)">
  <dso-company-review-card [company]="company" [type]="1" *ngFor="let company of companies"></dso-company-review-card>
</div>
<button class="btn-go-to-top" [ngClass]="{'show': showGotoTopBtn}" (click)="gotoTop()">
  <i class="fa fa-arrow-up"></i>
</button>