<mat-card>
  <div class="header">
    <h3 class="mat-h3" (click)="onGoTo(post.categoryId)">{{post.categoryName}}</h3>
    <span class="mat-body-1">{{post.date | date: 'mediumDate'}}</span>
  </div>
  <mat-card-content>
    <div class="image">
      <div *ngIf="videoTag" class="image" [innerHtml]="videoTag | safe: 'html'"></div>
      <div *ngIf="!videoTag && post.thumbnail" class="image" (click)="onViewDetail()">
        <img [src]="post.thumbnail"/>
      </div>
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '28')" 
        src="/assets/images/icons/Article@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '194')" 
        src="/assets/images/icons/Interview@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '30')" 
        src="/assets/images/icons/Podcast@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '31')" 
        src="/assets/images/icons/TechGuide@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '29')" 
        src="/assets/images/icons/Video@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '196')" 
        src="/assets/images/icons/TipSheet@2x.png" />
    </div>
    <img *ngIf="isGsk(post.sponsorId)" class="inner-thumbnail" src = "assets/images/sponsor/gsk-banner.jpg" (click)="onPostSponsor('gsk')">
    <img *ngIf="isAlign(post.sponsorId)" class="inner-thumbnail" src = "assets/images/sponsor/align-banner.jpg" (click)="onPostSponsor('align')">
    <img *ngIf="isNobel(post.sponsorId)" class="inner-thumbnail" src = "assets/images/sponsor/nobel-banner.jpg" (click)="onPostSponsor('nobel')">
    <div class="content">
      <div class="content-title">
        <span class="mat-h2" (click)="onViewDetail()" [innerHtml]="post.title" (click)="onViewDetail()"></span>
        <div class="actions" fxLayout="row" fxLayoutAlign="end start">
          <a class="bookmark-btn" (click)="onAddBookmark()" *ngIf="!post.isBookmark">
            <mat-icon aria-label="Bookmark">bookmark_border</mat-icon>
          </a>
          <a class="bookmark-btn" (click)="onRemoveBookmark()" *ngIf="post.isBookmark">
            <mat-icon aria-label="Bookmark">bookmark</mat-icon>
          </a>
          <a class="menu-btn" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <img src="assets/images/icons/share.png">
          </a>
          <mat-menu #menu="matMenu" xPosition="before">
            <div class="share-content">
              <a class="bookmark-btn" url="{{sharedUrl}}" shareButton="facebook">
                <img class="share-btn" src="assets/images/icons/icon-facebook.png">
              </a>
              <a class="bookmark-btn" url="{{sharedUrl}}" shareButton="twitter">
                <img class="share-btn" src="assets/images/icons/icon-twitter.png">
              </a>
              <a class="menu-btn" url="{{sharedUrl}}" shareButton="linkedin">
                <img class="share-btn" src="assets/images/icons/icon-linkediin.png">
              </a>
            </div>
          </mat-menu>
        </div>
      </div>
      <div class="inner-content" (click)="onViewDetail()" style="overflow: hidden" (click)="onViewDetail()">
        <div id="contents{{no}}" class="mat-body-1" [class.excerpt-content]="!isViewMore" [innerHtml]="postSafeContent"></div>
        <a id="more-text-btn">... more</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
