.sidenav-container {
  background-color: #e5e5e5
}

.doc-viewer-toolbar {
  color: #ffffff;
  display: flex;
  width: 100%;
  height: 45px;
  background-color: #787878;
}

.mt-h3 {
color: #ffffff;
display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
flex: 1;
letter-spacing: 1px;

.topic-image {
  height: 30px;
  width: auto;
}
}

button {
position: absolute;
top: 2px;
}

.btn-menu {
left: 5px;
}

.btn-logout {
right: 0;
}

.btn-previous {
right: 45px;
}

.btn-next {
right: 5px;
}

.navbar-edit-profile {
width: auto;
align-items: center;
}

.topic-title {
font-size: 15px;
font-family: 'SFUI';
font-weight: 600;
}

.doc-viewer-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #e5e5e5;

  .main-container {
    overflow: hidden;
    background-color: #e5e5e5;
    padding-top: 15px;

    .doc-file-name {
      text-align: center;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
