<nav class="whiteNav">
  <div class="pageTitle">
    RESET PASSWORD?
  </div>
  <!--
  <div class="navActions" style="top:10px;right:0">
    <a style="padding: 0px 15px;"><img src="assets/images/close-icon.png"></a>
  </div>
  -->
</nav>
<main>
  <div class="container">
    <div class="mt-2">
      <form [formGroup]="form">
        <div class="form-group">
          <input type="text" formControlName="email_token" class="form-control withBg" placeholder="Enter your temporary password">
          <div *ngIf="email_token.invalid && (email_token.dirty || email_token.touched)">
            <div class="invalid-input" *ngIf="email_token.errors.required">The temporary password can't be blank.</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="password" class="form-control withBg" placeholder="New Password">
          <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div class="invalid-input" *ngIf="password.errors.required">Password can't be blank.</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" formControlName="confirmPass" class="form-control withBg" placeholder="Confirm password">
          <div *ngIf="confirmPass.errors?.notSame && confirmPass.invalid && (confirmPass.dirty || confirmPass.touched)">
            <div class="invalid-input" *ngIf="confirmPass.errors?.notSame">Password does not match.</div>
          </div>
        </div>
        <p class="form-warning" (click)="isShowRequirement = !isShowRequirement">
          Password Requirements
        </p>

        <div class="form-helper" *ngIf="isShowRequirement">
          <div class="content">
            Your password should be at least 8-16 characters in length with at least one uppercase letter and one number
          </div>
          <div class="close" (click)="isShowRequirement = false">
            <img src="assets/images/error-icon.png">
          </div>
        </div>
        <button class="btn btn-default btn-full btn-primary mt-2 mb-2" (click)="onResetPwd()" [disabled]="!form.valid">
          Reset Password
        </button>

        <p class="textCenter mt-1">Still having issues? <a style="color: #879aa8;">Contact Us</a></p>
      </form>
    </div>
  </div>
</main>