@import "../../../responsive";

:host {
  display: flex;
  flex: 1;
}

.feed-grid {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 50px;
}

ngx-masonry {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grid-sizer, .grid-item {
  width: calc(50% - 10px);

  @include desktop {
    width: calc(100% - 10px);
  }
}

.grid-item {
  margin-bottom: 10px;
}

.gutter-sizer {
  width: 10px;
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex: 1;
}

h3 {
  margin-top: 30px;
}
