@import "../../../responsive";

.feed-grid-container {
  display: flex;
  flex-direction: column;
}

.posts {
  display: flex;
  flex-direction: column;
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  flex: 1;
}

h3 {
  margin-top: 30px;
}

.load-more {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#article-contents {
  height: calc(100vh - 91px);
  overflow: auto;
}

.no-find-message {
  color: #4a4a4a;
  width: 186px;
  font-size: 15px;
  font-family: 'SF UI Text';
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}
