<ngx-masonry [options]="gridOptions" *ngIf="posts?.length > 0">
  <ngxMasonryItem *ngFor="let post of posts">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item">
      <dso-feed-card [type]="'video'" [post]="post" (addBookmark)="onAddBookmark($event)"
                     (removeBookmark)="onRemoveBookmark($event)"></dso-feed-card>
    </div>
  </ngxMasonryItem>
</ngx-masonry>
<div class="no-content" *ngIf="posts === undefined || posts?.length === 0">
  <img src="/src/assets/images/no-bookmarks.png">
  <h3 class="mat-h3">{{noFoundMessage}}</h3>
</div>
