<header class="header-profile fixed-bar">
  <nav class="navbar bg-grey">
    <a href="#" class="back-link"><span class="icon-bar icon-back"></span></a>
    <div class="navbar-title-heading">Edit Education</div>
    <div class="navbar-edit-profile">
      <a href="#" class="">Save</a>
    </div>
  </nav>
</header>
<div class="profile_content">
  <section class="personal-info practice-add">
    <div class="personal-container mh-vh">
      <div class="personal-group practice-group">
        <div class="toggle-div">
          <label class="profile_title mb0">Attended Dental School in the US</label>
          <div class="switch">
            <div class="handle"></div>
          </div>
        </div>
      </div>
      <div class="personal-group practice-group">
        <label class="profile_title mb0">Dental School</label>
        <input type="text" name="" class="input-mb" value="Manchester Dental School">
        <span class="edit-practice"></span>
      </div>
      <div class="personal-group practice-group">
        <label class="profile_title mb0">Year of Graduation</label>
        <input type="text" name="" class="input-mb" value="2006">
        <span class="edit-practice"></span>
      </div>
      <div class="cancel-row"><a href="#">Delete Experience</a></div>
    </div>
  </section>
</div>