<div class="top-bar" fxLayout="row" fxLayoutAlign="center center">
  <button mat-icon-button (click)="onBack()"><img src="assets/images/career/arrow_bottom.png"></button>
  <p>
    <button mat-icon-button (click)="onBookmark()">
      <img *ngIf="!job.isSaved" src="assets/images/career/save2_inactive.png">
      <img *ngIf="job.isSaved" src="assets/images/career/save2_active.png">
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
      <img src="assets/images/career/share.png">
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <div class="share-content">
          <a url="{{sharedUrl}}" shareButton="facebook">
              <img class="share-btn" src="assets/images/icons/icon-facebook.png">
          </a>
          <a url="{{sharedUrl}}" shareButton="twitter">
              <img class="share-btn" src="assets/images/icons/icon-twitter.png">
          </a>
          <a url="{{sharedUrl}}" shareButton="linkedin">
              <img class="share-btn" src="assets/images/icons/icon-linkediin.png">
          </a>
      </div>
    </mat-menu>
  </p>
</div>
<section>
  <div class="main-bar" fxLayout="column" fxLayoutAlign="start start">
    <img class="job-head" src="assets/images/career/head2.png">
    <div fxLayout="row" fxLayoutAlign="start center" style="position: relative">
        <img *ngIf="job.isApplied" class="log-new" src="assets/images/career/apply.png">
      <img class="job-avatar" [src]="job.logoURL">
      <p fxLayout="column" fxLayoutAlign="center start">
        <label class="job-title">{{job.jobTitle}}</label>
        <label class="job-company">{{job.companyName}}</label>
        <label class="job-salary">Est. Salary: <span>${{job.salaryStartingValue}} - ${{job.salaryEndValue}}</span></label>
      </p>
    </div>
    <div class="job-location">
      <p fxLayout="row" fxLayoutAlign="space-between center" (click)="onGoToMap()">
        <label class="company-location">{{job.address1?job.address1:''}} {{job.address2?job.address2:''}}<br>
          {{job.city}}, {{job.state}} {{job.zipCode}}</label>
        <img src="assets/images/career/location2.png">
      </p>
    </div>
  </div>
  <article class="tab">
    <div class="tab-header">
      <button mat-button (click)="onTab('tab1')" [class.active]="tab=='tab1'">DESCRIPTION</button>
      <button mat-button (click)="onTab('tab2')" [class.active]="tab=='tab2'">COMPANY</button>
      <button mat-button (click)="onTab('tab3')" [class.active]="tab=='tab3'">REVIEWS</button>
    </div>
    <div [class.show]="tab=='tab1'" [class.hide]="tab!=='tab1'" class="tab-content">
      <!--<div class="job-type">Type: <span>{{job.type}}</span></div>-->
      <pre class="job-description" [innerHtml]="job.jobDescription"></pre>
    </div>
    <div [class.show]="tab=='tab2'" [class.hide]="tab!=='tab2'" class="tab-content">
      <div class="company-container">
        <p>
          <span>Website</span>
          <span class="space"></span>
          <span class="company-info" fxLayout="column" fxLayoutAlign="center end">
            <label>{{job.companyUrl}}</label>
          </span>
        </p>
        <p>
          <span>Year of Foundation</span>
          <span class="space"></span>
          <span class="company-info">{{job.foundation}}</span>
        </p>
        <p>
          <span>No. of Employees</span>
          <span class="space"></span>
          <span class="company-info">{{job.employees}}</span>
        </p>
        <p>
          <span>Stage</span>
          <span class="space"></span>
          <span class="company-info">{{job.stage}}</span>
        </p>
        <!--<p>
          <span>Contact Person</span>
          <span class="space"></span>
          <span class="company-info">{{job.person}}</span>
        </p>-->
      </div>
      <div class="company-detail">
        <p class="detail-label">Details</p>
        <pre class="detail-contents">{{job.companyDes}}.</pre>
      </div>
    </div>
    <div [class.show]="tab=='tab3'" [class.hide]="tab!=='tab3'" class="tab-content">
      <div class="review-status">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="review-rating">{{ratingFormat(job.rating)}}</div>
          <div class="ratebar" fxLayout="row" fxLayoutAlign="start center">
            <div *ngFor="let rate of rateList; index as i">
              <img *ngIf="rating>i;else inactive" src="assets/images/career/review-active.png" class="rate-star">
              <ng-template #inactive>
              <img src="assets/images/career/review-inactive.png" class="rate-star">
              </ng-template>
            </div>
          </div>
          <div class="review-count">{{allReviews?allReviews.length:0}} reviews</div>
        </div>
        <div class="review-avatar" fxLayout="row" fxLayoutAlign="space-between start">
          <p fxLayout="column" fxLayoutAlign="center center">
            <circle-progress [radius]="34" [percent]="getPercentRecommend()" [showSubtitle]="false" [unitsFontSize]="20"></circle-progress>
            <label>Recommend<br>to a friend</label>
          </p>
          <p fxLayout="column" fxLayoutAlign="center center">
            <circle-progress class="approveProgress" [radius]="34" [percent]="getPercentApprove()" [showSubtitle]="false" [unitsFontSize]="20"></circle-progress>
            <label>Approve<br>of CEO</label>
          </p>
          <p fxLayout="column" fxLayoutAlign="center center">
            <img *ngIf="job.ceoUrl" src="job.ceoUrl">
            <img *ngIf="!job.ceoUrl" src="assets/images/profile/icon_user_profile.png">
            <label *ngIf="job.ceo">{{job.ceo}}<br>CEO</label>
            <label *ngIf="!job.ceo">CEO</label>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div>
        <dso-review-extend-card [review]="review" *ngFor="let review of reviews"></dso-review-extend-card>
      </div>
      <div class="detail-footer" fxLayout="column" fxLayoutAlign="center center">
        <button *ngIf="allReviews && allReviews.length>0" mat-button (click)="loadMore()">{{loadMoreBtn}}</button>
        <button mat-raised-button (click)="onGoToAddReview(job.companyId)">Write review</button>
      </div>
    </div>
  </article>
</section>
<div [class.show]="tab=='tab1'||tab=='tab2'" [class.hide]="tab=='tab3'" class="ctrl-button">
  <button *ngIf="!job.isApplied" mat-raised-button (click)="onSave()">Apply Now</button>
  <button *ngIf="job.isApplied" mat-raised-button (click)="onGoToJobScreen()">View similar jobs</button>
</div>
<div *ngIf="type!==-1" class="resume-dialog" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="type!==0" fxLayout="column" fxLayoutAlign="center center">
    <img *ngIf="type==1" src="assets/images/career/submit_resume.png">
    <label *ngIf="type==1">Submitting your resume...</label>
    <img *ngIf="type==2" src="assets/images/career/complete_resume.png">
    <label *ngIf="type==2">Resume submitted.</label>
  </div>
  <div *ngIf="type==0" class="upload_resume" fxLayout="column" fxLayoutAlign="center center">
    <button mat-icon-button (click)="type=-1">
      <mat-icon>close</mat-icon>
    </button>
    <span class="upload-label">Add a resume to your profile</span>
    <img src="assets/images/career/upload_resume.png">
    <p fxLayout="column" fxLayoutAlign="center center">
      Upload Resume
      <input type="file" accept=".xls, .xlsx, .doc, .docx, .pdf" (change)="selectFile($event)" class="upload-hidden">
    </p>
    <span class="upload-message">Microsoft Word or PDF only (15MB)</span>
  </div>
</div>

