@import "../../../../responsive";

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex: 1;
}

h3 {
  margin-top: 30px;
}

.bookmarks {
  display: flex;
  flex-direction: column;
}
