<ngx-masonry [options]="gridOptions">
  <ngxMasonryItem *ngFor="let post of posts">
    <div class="grid-sizer"></div>
    <div class="gutter-sizer"></div>
    <div class="grid-item">
      <dso-bookmark-card [post]="post" (remove)="onRemove($event)"></dso-bookmark-card>
    </div>
  </ngxMasonryItem>
</ngx-masonry>
<div class="no-content" *ngIf="posts === undefined || posts?.length === 0">
  <img src="/src/assets/images/no-bookmarks.png">
  <h3 class="mat-h3">No bookmarks added yet</h3>
</div>
