<form #profileForm="ngForm" *ngIf="userProfile !== undefined">
  <header class="header-profile fixed-bar">
    <nav class="navbar bg-grey">
      <a [routerLink]="['/profile']" class="back-link"><span class="icon-bar icon-back"></span></a>
      <div class="navbar-title-heading">Edit Profile</div>
      <div class="navbar-edit-profile">
        <a href="javascript:void(0)" (click)="onSave(profileForm)">Save</a>
      </div>
    </nav>
  </header>
  <div class="profile_content">
    <section class="profile-heading profile-header">
      <div class="profile-img">
        <div class="profile_title">Profile Photo</div>
        <div class="avatar_profile">
          <img src="../assets/images/profile/avatar_profile.png">
          <a href="#" class="edit_profile"><span class="edit-icon icons"></span></a>
        </div>
      </div>
    </section>

    <section class="personal-info">
      <div class="profile_title small f300 mb15">Personal Info</div>
      <div class="personal-container">
        <div class="personal-group">
          <label class="profile_title mb0">Fullname</label>
          <div class="d-flex">
            <input type="text" name="fullName" class="input-mb" required [(ngModel)]="userProfile.full_name"
                   #fullname="ngModel">
            <i class="fa fa-pencil personal-edit-icon"></i>
          </div>
          <div class="personal-underline"></div>
          <div [hidden]="fullname.valid || fullname.pristine"
               class="validation-message">
            Full name can't be blank.
          </div>
        </div>
        <div class="personal-group">
          <label class="profile_title mb0">Speciality</label>
          <div class="d-flex">
            <input (focus)="isEditSpeciality = !isEditSpeciality; SpecialityModal.show();" type="text" name=""
                   class="input-mb"
                   value="{{ speciality?.name }}" contenteditable="false">
            <span class="arrow-right-input"></span>
          </div>
          <div class="personal-underline"></div>
        </div>
      </div>
    </section>

    <section class="profile_Education">
      <div class="profile_title small f300">Upload resume or import data</div>
      <div class="profile__content" (click)="isUploadResume = true; isUploadResumeSlide = true">
        <div class="profile__icon upload-icon"></div>
        <div class="profile__content_info">
          <div class="profile_info">
            <div class="profile_subtitle">Upload Resume</div>
            <div class="profile-job">Your professional information will be imported automatically.</div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="is_student" class="profile_Residency">
      <div class="profile_title small f300">Experience</div>
      <span class="addNew-icon" (click)="ExperienceModal.show()"></span>
      <div *ngIf="userProfile?.experiences.length; else noExperience">
        <div *ngFor="let item of userProfile?.experiences" class="profile__content bt">
          <div class="profile__icon exp_owner"></div>
          <div class="profile__content_info">
            <div class="profile_info">
              <div class="profile_subtitle">{{ item?.practice_Role?.name }}</div>
              <div class="profile-job">{{ item?.practice_Type?.name }}</div>
              <div class="date-job">{{ item?.start_time }} - {{ item?.end_time }}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noExperience>
        <div class="profile__content">
          <div class="profile__icon exp_icon"></div>
          <div class="profile__content_info">
            <span class="not_residency">No experience added yet.</span>
          </div>
        </div>
      </ng-template>
    </section>
    <section class="profile_Residency ">
      <div class="profile_title small f300 mt10">Residency</div>
      <span class="addNew-icon"
            (click)="residency_page = RESIDENCY_ADD; residency = null; editResidencyModel.show()"></span>
      <div *ngIf="userProfile?.profileResidency.length; else noResidency">
        <div *ngFor="let item of userProfile?.profileResidency; let i = index" class="profile__content bt">
          <div class="profile__icon"></div>
          <div class="profile__content_info">
            <span class="arrow-right" (click)="editResidency(i)"></span>
            <div class="profile_info">
              <div class="profile_subtitle">Residency</div>
              <div class="profile-job">{{ item?.residency_school?.name }}</div>
              <div class="date-job">{{ item?.start_time | date: 'MMMM y' }} - {{ item?.end_time | date: 'MMMM y' }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noResidency>
          <span class="addNew-icon"
                (click)="residency_page = RESIDENCY_ADD; residency = null; editResidencyModel.show()"></span>
        <div class="profile__content">
          <div class="profile__icon"></div>
          <div class="profile__content_info">
            <span class="not_residency">No residency added yet.</span>
          </div>
        </div>
      </ng-template>
    </section>
    <section class="profile_Education">
      <div class="profile_title small f300 mt10">Education</div>
      <span class="addNew-icon"></span>
      <div *ngIf="userProfile?.educations.length; else noEducation">
        <div *ngFor="let item of userProfile?.educations" class="profile__content bt">
          <div class="profile__icon education-icon2"></div>
          <div class="profile__content_info">
            <span class="arrow-right"></span>
            <div class="profile_info">
              <div class="profile_subtitle">{{ item?.dental_school?.name }}</div>
              <div class="profile-job">Certificate, Advanced Periodontology</div>
              <div class="date-job">{{ item?.start_time }} - {{ item?.end_time }}</div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noEducation>
        <div class="profile__content">
          <div class="profile__icon education-icon"></div>
          <div class="profile__content_info">
            <span class="not_residency">No education added yet.</span>
          </div>
        </div>
      </ng-template>
    </section>
    <section class="personal-info">
      <div class="profile_title small f300 mb15 mt10">Contact Info</div>
      <div class="personal-container">
        <div class="personal-group">
          <label class="profile_title mb0">Mobile number</label>
          <div class="d-flex">
            <input type="text" name="phone" class="input-mb" [(ngModel)]="userProfile.phone">
            <i class="fa fa-pencil personal-edit-icon"></i>
          </div>
          <div class="personal-underline"></div>
        </div>
        <div class="personal-group">
          <label class="profile_title mb0">Preferred email address</label>
          <div class="d-flex">
            <input type="email" name="email" class="input-mb" required email="true" [(ngModel)]="userProfile.email"
                   #email="ngModel">
            <i class="fa fa-pencil personal-edit-icon"></i>
          </div>
          <div class="personal-underline"></div>
          <div [hidden]="!email.hasError('required') || email.pristine"
               class="validation-message">
            The email can't be blank.
          </div>
          <div [hidden]="!email.hasError('email') || email.pristine"
               class="validation-message">
            Please input correct email format!
          </div>
        </div>
      </div>
    </section>
  </div>
</form>

<div *ngIf="isUploadResume" class="modal-overlay upload-file" (click)="closeUploadResume($event)">
  <div class="modal-container" [@slideUpDown]="isUploadResumeSlide ? 'up': 'down'">
    <div class="upload-content">
      <div class="profile_title small f300 mb10">Upload Resume</div>
      <div class="upload-browse">
        <input type="file" name="" class="upload-hidden">
        <span class="type-upload">Browse</span>
      </div>
    </div>
  </div>
</div>

<div bsModal #editResidencyModel="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-sizes-name3"
     id="waitingPopup" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <dso-residency-search [listResidency]="metadata.residency"
                              (closeResidencySearch)="residency_page = RESIDENCY_ADD"
                              (selectedResidency)="selectedResidency($event)" [residency]="residency"
                              *ngIf="residency_page == RESIDENCY_AT"></dso-residency-search>
        <dso-residency-add *ngIf="residency_page == RESIDENCY_ADD" (cancelResidency)="cancelResidency()"
                           [residency]="residency"
                           (selectResidency)="selectResidency()"
                           (addResidency)="addResidency($event)"></dso-residency-add>
        <dso-residency-edit *ngIf="residency_page == RESIDENCY_EDIT" (deleteResidency)="deleteResidency()"
                            (cancelResidency)="cancelResidency()"
                            (updateResidency)="updateResidency($event)" [residency]="residency"></dso-residency-edit>
      </div>
    </div>
  </div>
</div>

<div bsModal #SpecialityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-sizes-name3"
     id="Modal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <dso-app-speciality [listSpeciality]="metadata.residency"
                            (setSpeciality)="setSpeciality($event)"
                            (closeSpeciality)="closeSpecialityModal()"
                            [speciality]="speciality"
                            *ngIf="isEditSpeciality"></dso-app-speciality>
      </div>
    </div>
  </div>
</div>

<div bsModal #ExperienceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="dialog-sizes-name3"
     id="experienceModal" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <app-edit-experience (closeModal)="ExperienceModal.hide()"
                             (saveExperience)="saveExperience(ex)"
                             [experience]="experiences" ></app-edit-experience>
      </div>
    </div>
  </div>
</div>
