.modal-dialog {
  margin: 0;
}

.modal-body {
  padding: 0;
}
/deep/ .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
}
.edit-image {
 max-height: 60vh;
 overflow: auto; 
}
