.no-contents {
    width: 100%;
    height: calc(100vh - 45px);
    padding: 0px 20px;

    img {
        margin-bottom: 80px;
    }

    p {
        width: 100%;

        label {
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
        }

        .add-label {
            font-weight: 700;
            font-family: 'SFUI';
            line-height: 40px;
        }
    }

    .submit {
        position: absolute;
        bottom: 70px;
        padding: 0px 20px;

        button {
            color: #ffffff;
            width: 100%;
            background-color: #879aa8;
            margin-top: 20px;

            img {
                position: absolute;
                top: 9px;
                left: 27%;
            }
        }
    }
}