@import "../../../../responsive";

.inner-content {
    width: 100%;
    height: auto;
    padding: 19px 19px;
    position: relative;
    display: block;
}

.inner-thumbnail {
    width: 100%;
    height: auto;
}

.inner-content.sponsor {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 29px 18px;
  
    .label-sponsor {
        color: #9b9b9b;
        font-size: 13px;
        font-weight: 400
    }

    .sponsorBtn {
        color: #ffffff;
        width: 100%;
        height: 40px;
        font-size: 14px;
        font-weight: 400;
        margin: 18px;
        margin-bottom: 0px;
    }

    .gskBtn {
        background-color: #6FC9D3;
    }

    .alignBtn {
        background-color: #42ABE7;
    }

    .nobelBtn {
        background-color: #CA0A13;
    }
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #FAFBFD;
  
    .mat-h3 {
      text-transform: uppercase;
      flex: 1;
      margin-bottom: 0;
      letter-spacing: 0.9px;
      font-size: 0.8em;
      font-weight: 500;
    }
  
    .date {
      color: #D8D8D8;
    }
  
    .mat-body-1 {
      align-self: center;
      font-size: 12px;
      letter-spacing: 0.8px;
      font-weight: 300;
      color: #9b9b9b;
    }
}

.title {
    color: #354051;
    font-family: 'SFUI';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 7px;
}

.rate-star {
    margin-right: 3px;
}

.review {
    background-color: #f8f8f8;
    padding: 18px;

    div {
        background-color: #f8f8f8;
    }

    .review-question {
        color: #9b9b9b;
        line-height: 15px;
        font-size: 13px;
        font-weight: 400px;
    }
    
    .review-add {
        color: #4a4a4a;
        line-height: 15px;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px; 
    }
}

.rate {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 18px 19px;

    .review-count {
        color: #4a4a4a;
        font-size: 13px;
        font-weight: 600;
    }

    .mat-button {
        min-width: 50px;
    }
    
    .viewBtn {
        color: #879aa8;
        font-size: 12px;
        font-weight: 500;
        padding: 0px;
    }

    .ratebar {
        margin-top: 12px;
    }
}

p {
    img {
        width: 100%;
        height: auto;
    }
}

.author {
    width: calc(100% - 19px);
    padding-left: 18px;

    #author-avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #f5f5f5;
        padding: 5px;

        img {
            width: 22px;
            height: 22px;
        }
    }

    .author-area {
        margin-left: 10px;

        #author-name {
            color: #4a4a4a;
            font-family: "SFUI";
            font-size: 13px;
            font-weight: 600;
        }
    
        #author-info {
            color: #9b9b9b;
            font-size: 13px;
            font-weight: 400;
        } 
    } 
}

.btn-pn {
    color: #879aa8;
    font-size: 13px;
    font-weight: 600;
}

#contents {
    color:#4a4a4a;
    width: 100%;
    height: auto;
    line-height:25px;
    font-size:15px;
}

.actions {
    .menu-btn {
      color: lightslategrey;
      margin-left: 5px;
    }
  
    .bookmark-btn {
      color: lightslategrey;
    }
  
    .mat-icon {
      margin-top: 8px;
    }
}
  
.share-btn {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

.share-content {
    padding-left: 10px;
}

div {
    background-color: #fff;
}