<div>
  <button mat-icon-button (click)="onClickEvent()" class="btn-menu">
    <mat-icon>{{btnTitle}}</mat-icon>
  </button>
  <h3 class="mt-h3 topic-title">
    <img *ngIf="title == 'DSODENTIST'; else elseBlock" class="topic-image" src="assets/images/logo2.png">
    <ng-template #elseBlock>
      {{title}}
    </ng-template>
  </h3>
  <div *ngIf="url == '/profile'" class="navbar-edit-profile">
    <a [routerLink]="['/edit-profile']" class="">Edit <i class="fa fa-pencil"></i></a>
  </div>
  <div *ngIf="visibleUniteMoreMenu" class="navbar-edit-profile">
    <a mat-icon-button [matMenuTriggerFor]="issueMenu">
      <img src="assets/images/unite/menu.png">
    </a>
    <mat-menu #issueMenu="matMenu" class="issue-menu">
      <dso-issue-menu [issueId]="issueId"></dso-issue-menu>
    </mat-menu>
    <a mat-icon-button [matMenuTriggerFor]="moreMenu">
      <img src="assets/images/unite/more-options.png">
    </a>
    <mat-menu #moreMenu="matMenu" class="more-menu">
      <a mat-menu-item *ngFor="let link of uniteMoreLinks" (click)="onOptionEvent(link.route)" fxLayoutAlign="start center">
        <span class="option-title">{{link.label}}</span>
        <img [src]="link.icon">
      </a>
    </mat-menu>
    <div class="search-panel-backdrop" [ngClass]="{'hide': !isSearch}" (click)="closeSearchPanel()"></div>
    <div *ngIf="isSearch">
      <dso-search-menu [issueId]="issueId" (closeSearchPanel)="closeSearchPanel()"></dso-search-menu>
    </div>
  </div>
</div>
