<mat-card>
  <div class="header">
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '28')" src="/assets/images/Article@2x.png" />
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '194')" src="/assets/images/Interview@2x.png" />
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '30')" src="/assets/images/Podcast@2x.png" />
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '31')" src="/assets/images/TechGuide@2x.png" />
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '29')" src="/assets/images/Video@2x.png" />
    <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '196')" src="/assets/images/TipSheet@2x.png" />
    <h3 class="mat-h3">{{post.categoryName}}</h3>
    <span class="mat-body-1">{{post.date | date: 'mediumDate'}}</span>
  </div>
  <mat-card-content>
    <div class="content">
      <div class="image" *ngIf="post.thumbnail">
        <img [src]="post.thumbnail"/>
      </div>
      <h2 class="title mat-h3" (click)="onViewDetail()">{{post.title}}</h2>
      <div class="actions">
        <button mat-icon-button (click)="onAddBookmark()" *ngIf="!post.isBookmark">
          <mat-icon aria-label="Bookmark">bookmark_border</mat-icon>
        </button>
        <button mat-icon-button (click)="onRemoveBookmark()" *ngIf="post.isBookmark">
          <mat-icon aria-label="Bookmark">bookmark</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
          <mat-icon aria-label="Options">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <p><a mat-menu-item url="{{post.thumbnail}}" shareButton="facebook">to facebook</a></p>
          <p><a mat-menu-item url="{{post.thumbnail}}" shareButton="twitter">to twitter</a></p>
          <p><a mat-menu-item url="{{post.thumbnail}}" shareButton="linkedin">to linkedin</a></p>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>
</mat-card>
