<div class="pdf-viewer-overlay">
  <mat-sidenav-container class="sidenav-container pdf-viewer-overlay">
    <mat-sidenav-content class="sidenav-content">
      <div class="pdf-viewer-toolbar">
        <button mat-icon-button (click)="onClickEvent()" class="btn-menu">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <h3 class="mt-h3 topic-title">
          RESUME
        </h3>
      </div>
      <div class="main-container">
        <h1 class="pdf-file-name">{{title}}</h1>
          <pdf-viewer
            [src]="src"
            [render-text]="true"
            [original-size]="false"
            class="pdf-viewer"
          ></pdf-viewer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>  
