<div layout="column">
  <div class="header" fxLayout="column" fxLayoutAlign="center center">
    <p class="rate">Rate the article</p>
    <p class="title">{{postTitle}}</p>
    <p class="date">{{dateFormat(postDate)}}</p>
  </div>

  <div class="ratebar" fxLayout="row" fxLayoutAlign="center center">
    <div *ngFor="let item of rateList; index as i">
      <img *ngIf="i<rate;else inactive" class="active" src="assets/images/review/star-active.png" (click)="eventRating(i)">
      <ng-template #inactive>
        <img class="inactive" src="assets/images/review/star-inactive.png" (click)="eventRating(i)">
      </ng-template>
    </div>
  </div>

  <mat-card fxLayout="row" fxLayoutAlign="start center">
    <img *ngIf="userInfo && userInfo.url; else defaultUrl" mat-card-avatar [src]="baseUrl + '/photoDownload?' + userInfo.url">
    <ng-template #defaultUrl>
      <img mat-card-avatar src="assets/images/review/user-avatar.png">
    </ng-template>
    <mat-card-content>
      <span class="lable">Writing review as </span>
      <span *ngIf="userInfo" class="user-name">{{userInfo.name}}</span>    
    </mat-card-content>
  </mat-card>

  <div class="comments">
    <p><label>Write a brief review</label></p>
    <p id="contents"><textarea [(ngModel)]="comment" autofocus></textarea></p>
    <p><button mat-flat-button (click)="saveComment()">Submit Review</button></p>
  </div>
</div>
  