div {
    height: calc(100vh-45px);
    background-color: #ffffff;
}

img {
    margin: 0px 1.5px;
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: inset 0 0px 0 #dddddd;
}

mat-card {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
    padding: 10px 16px;

    img {
        min-height: 30px;
        margin: 0px;
    }

    mat-card-content {
        margin-left: 11px;

        .user-name {
            color: #4a4a4a;
            font-size: 13px;
            font-weight: 400;
        }
        
        .lable {
            color: #9b9b9b;
            font-size: 13px;
            font-weight: 400;
        }
    }    
}

.comments {
    padding: 19px 0px;

    p {
        margin: 0px;
        padding: 0px 16px;
        padding-bottom: 7px;

        button {
            color: #ffffff;
            width: 100%;
            height: 40px;
            background-color: #879aa8;
            border: 0px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: -0.2px;
        }

        button:hover {
            cursor: pointer;
        }

        label {
            color: #9b9b9b;
            font-size: 12px;
            font-weight: 400;
        }
    }


    #contents {
        box-shadow: inset 0 -1px 0 #dddddd;
        margin-bottom: 41px;

        textarea {
            color: #000000;
            border: 0px;
            width: 100%;
            height: 100%;
            font-size: 15px;
            font-weight: 400;
            resize: none;
        }
    }
}

.header {
    background-color: #f8f8f8;
    padding-top: 20px;

    p {
        margin: 0px;
        padding: 0px;
    }

    .rate {
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: -0.24px;
        text-align: center;
    }

    .title {
        color: #262424;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: -0.24px;
        margin-top: 10px;
        text-align: center;
    }

    .date {
        color: #4a4a4a;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: -0.24px;
        margin-top: 3px;
        margin-bottom: 0px;
        text-align: center;
    }    
}

.statebar {
    padding: 15px 0px;
    background-color: #f8f8f8;
    text-align: center;

    div {
        background-color: #f8f8f8;
        img {
            border: 1px solid #f8f8f8;
            border-radius: 5px;
        }

        img:hover {
            cursor: pointer;
        }
    }
}