
div {
    background-color: #ffffff;
}

div>img {
    margin: 0px 1.5px;
}

mat-card {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    box-shadow: inset 0 -1px #dddddd;
    padding: 10px 16px;
}

mat-card>img {
    width: 30px;
    height: 30px;
}

mat-card-content {
    margin-left: 11px 
}

form {
    padding: 19px 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

form>p>button {
    color: #ffffff;
    width: 100%;
    height: 40px;
    background-color: #879aa8;
    border: 0px;
    font-size: 15px;
    font-weight: 600;
}

form>p>button:hover {
    cursor: pointer;
}

form>p {
    padding-bottom: 7px;
}

form>p>label {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 16px;
}

textarea {
    color: #000000;
    border: 0px;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 400;
    resize: none;
}

.rate {
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    text-align: center;
}

.title {
    color: #262424;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.date {
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    margin-top: 3px;
    text-align: center;
}

.header {
    background-color: #f8f8f8;
}

.statebar {
    padding: 20px 0px;
    background-color: #f8f8f8;
    text-align: center;
}

.statebar>div {
    background-color: #f8f8f8
}

.state{
    color: #ffffff;
    width: 27px;
    height: 27px;
    border-radius: 3px;
    font-size: 17px;
}



.active {
    background-color: #879aa8;
}

.nonactive {
    background-color: #dddddd;
}

.mat-icon {
    width: 20px;
    height: 20px;
}

.material-icons {
    font-size: 20px
}

.user-name {
    color: #4a4a4a;
}

.lable {
    font-size: 13px;
    font-weight: 400;
    color: #9b9b9b;
}

.contents {
    height: 32vh;
    box-shadow: inset 0 -1px 0 #dddddd;
    margin-bottom: 41px;
    padding: 0px 16px;
}