@import "../../../../variables";
@import "../../../../responsive";

mat-card {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

mat-card-content {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #FAFBFD;

  .mat-h3 {
    text-transform: uppercase;
    flex: 1;
    margin-bottom: 0;
    letter-spacing: 0.9px;
    font-size: 0.8em;
    font-weight: 500;
    color: $primary;
  }

  .date {
    color: #D8D8D8;
  }

  .mat-body-1 {
    align-self: center;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 300;
    color: #9b9b9b;
  }
}

.content {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.image {
  text-align: center;
  flex-basis: 20%;
  min-width: 80px;
  min-height: 80px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.title {
  color: #354051;
  flex-grow: 1;
  margin: 0 15px;
}

.actions {
  flex-shrink: 1;
  min-width: 85px;
  text-align: right;

  button {
    color: lightslategrey;
  }

  button:first-child {
    margin-right: 5px;
  }
}

.icon-type {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}
