.jobs-count {
    padding: 16px;
    color: #4a4a4a;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

mat-tab-group {
    background-color: #ffffff;

    ::ng-deep .mat-tab-label:nth-child(1) {
        border-right: 1px solid #d1d0d0;
    }

    ::ng-deep .mat-tab-label {
        border-top: 1px solid #d1d0d0;
        border-bottom: 0px;
    }
}

.job-container {
    height: calc(100vh - 45px);
    overflow: auto;
    padding-bottom: 50px;
}

.btn-go-to-top {
    bottom: 30px;
}

.no-message {
    width: 100%;
    height: calc(100vh - 183px);

    p {
        color: #000000;
        width: 250px;
        margin-top: 100px;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
    }
}