<mat-tab-group mat-stretch-tabs>
  <mat-tab label="APPLIED">
    <div class="jobs-count">{{jobs.length}} Jobs</div>
    <mat-divider></mat-divider>
    <div>
      <dso-job-card [job]="job" *ngFor="let job of jobs"></dso-job-card>
    </div>
  </mat-tab>
  <mat-tab label="SAVED">
    <div class="jobs-count">{{savedJobs.length}} Jobs</div>
    <mat-divider></mat-divider>
    <div>
      <dso-job-extend-card [job]="job" *ngFor="let job of savedJobs"></dso-job-extend-card>
    </div>
  </mat-tab>
</mat-tab-group>
