@import "../../../../variables";
@import "../../../../responsive";

.article-card {
    width: 70vw;
    margin-right: 25px;

    .article-container {
        height: 55vh;
        border: 2px solid #879aa8;
        overflow: hidden;
    
        .article-thumbnail {
            img {
                width: 100%;
                height: auto;
            }
        }
    
        .article-content {
            padding: 15px 10px;
            
            .article-category {
                color: #78aed0;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 7px;
            }
    
            .article-title {
                color: #4a4a4a;
                font-size: 17px;
                font-weight: 600;
                line-height: 20px;
            }
            
            .article-author {
                color: #c8c8c8;
                font-size: 14px;
                font-weight: 500;
                margin: 7px 0px 25px;
            }
            
            .article-excerpt {
                color: #000000;
                font-size: 14px;
                line-height: 20px;
                overflow: hidden;
            }   
        }
    }
    
    .article-footer {
        margin: 20px 0px 60px;
    
        .article-title {
            width: 80%;
            height: 60px;
            color: #4a4a4a;
            font-family: 'SFUI';
            font-size: 17px;
            font-weight: 600;
            text-align: center;
            line-height: 20px;
            overflow: hidden;
        }
    
        .article-control {
            margin-top: 19px;

            .mat-stroked-button {
                border-color: #c8c8c8;
                color: #4a4a4a;
                font-family: 'SFUI';
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}