@import "../../../../variables";
@import "../../../../responsive";

.article-card {
    width: 70vw;
    margin-right: 25px;

    .article-container {
        height: 54vh;
        border: 2px solid #879aa8;
        overflow: hidden;
    
        .article-thumbnail {
            img {
                width: 100%;
                height: auto;
            }
        }
    
        .article-content {
            padding: 10px;
    
            .article-title2 {
                color: #017ab9;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
            }

            .article-sub-title2 {
                color: #000000;
                font-size: 17px;
                font-weight: 400;
                line-height: 17px;
                margin-top: 5px;
            }
            
            .article-author {
                color: #9b9b9b;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                margin-top: 5px;
            }
            
            .article-excerpt {
                color: #000000;
                font-size: 14px;
                line-height: 17px;
                overflow: hidden;
                margin-top: 10px;
            }   
        }
    }
    
    .article-footer {
        margin: 15px 0px 60px;

        .title-area {
            height: 60px;
            overflow: hidden;
            line-height: 20px;

            .article-title {
                color: #4a4a4a;
                font-family: 'SFUI';
                font-size: 17px;
                font-weight: 600;
                text-align: center;
            }
    
            .article-sub-title {
                color: #9a9a9a;
                font-size: 17px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
            }
        }
    
        .article-control {
            margin-top: 19px;

            .mat-stroked-button {
                border-color: #c8c8c8;
                color: #4a4a4a;
                font-family: 'SFUI';
                font-size: 13px;
                font-weight: 600;
            }
        }
    }
}

:host ::ng-deep {
    img {
        width: 100%;
        height: auto;
    }
}