<div class="article-card">
    <div class="article-container" (click)="onUniteDetail(article.id)">
        <div *ngIf="!isNullThumbnail(article.thumbnail)" class="article-thumbnail">
            <img [src]="article.thumbnail">
        </div>
        <div *ngIf="isAD" [innerHtml]="article.content"></div>
        <div *ngIf="!isAD" class="article-content">
            <p *ngIf="article.title !== 'Issue Cover'" class="article-title2">{{article.title}}</p>
            <p *ngIf="article.title !== 'Issue Cover'" class="article-sub-title2">{{article.subTitle}}</p>
            <p *ngIf="article.authorName" class="article-author">by {{article.authorName}}</p>
            <div class="article-excerpt" [innerHtml]="article.excerpt"></div>
        </div>
    </div>
    <div class="article-footer" fxLayout="column" fxLayoutAlign="center center">
        <div class="title-area">
            <div class="article-title">{{article.title}}</div>
            <div *ngIf="article.subTitle" class="article-sub-title">{{article.subTitle}}</div>
        </div>
        <div class="article-control">
            <button *ngIf="isBookmark === true" mat-stroked-button (click)="onRemoveBookmark(article.id)">Remove from bookmarks</button>
        </div>
    </div>
</div>