nav {
  background: white;
}

::ng-deep .mat-tab-links {
  overflow-x: auto;
}

.mat-tab-link {
  min-width: 120px;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  &:hover {
    text-decoration: none;
  }
}

.mat-menu-item {
  font-size: 14px;
  font-weight: 400;
  opacity: .6;
  color: rgba(0,0,0,.87);
}

.mat-tab-label-active {
  background-color: #f7f7f7;
}

.active {
  background: #f7f7f7;
  border-bottom: 2px solid #889aa7;
}

.header-pic {
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}