<dso-main-container>
  <div class="header-pic">
    <img *ngIf="!isGeneral" src={{headerImageUrl}} class="avatar">
    <slideshow *ngIf="isGeneral"
      [imageUrls]="slideUrls"
      [autoPlay]="true"
      [minHeight] = "slideHeight"
      [stopAutoPlayOnSlide]="false">
    </slideshow>
    <button *ngIf="!isClose" mat-icon-button (click)="slideHeight = 0;isClose = true">
      <img src="assets/images/icons/close-white.png">
    </button>
  </div>
  <nav mat-tab-nav-bar>
    <div *ngFor="let link of navLinks" >
      <a *ngIf="link.route" mat-tab-link #rla="routerLinkActive" [routerLink]="link.route" routerLinkActive
       [class.active]="isActive(link)">
       {{link.label}}
      </a>
      <mat-menu #submenu="matMenu" yPosition="below" [overlapTrigger]="false">
        <a mat-menu-item [class.active]="isActive(subLink)" *ngFor="let subLink of link.subMenu" [routerLink]="subLink.route" routerLinkActive>{{subLink.label}}</a>
      </mat-menu>
      <a mat-tab-link [matMenuTriggerFor]="submenu" *ngIf="link.subMenu">
        {{link.label}}
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</dso-main-container>
