@import "../../../variables";

.footer-wrapper {
  position: fixed;
  bottom: 0;
  background-color: transparent;
  width: 100%;
  height: 62px;
  .show-nav-bar {
    color: grey;
    font-size: 45px;
    margin: 28px auto 0;
    display: block;
  }
  .footer {
    background: white;
    border-top: 1px solid rgba(0, 0, 0, .12);
    transform: translateY(0);
    transition: transform .2s;
    &.hidden {
      transform: translateY(62px);
    }
  }
}

::ng-deep mat-sidenav-content {
  background-color: white;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary;
  font-weight: 200;

  mat-icon {
    margin-bottom: 5px;
  }

  mat-icon, span {
    color: #889aa7;
  }

  img {
    height: 24px;
    width: auto;
    margin-bottom: 8px;
  }
}

.mat-tab-link {
  flex: 1;
  height: 60px;
  opacity: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.12);

  &:hover {
    text-decoration: none;
  }
}

.active {
  background-color: #f7f7f7;

  mat-icon, span {
    color: #dddddd;
  }
}
