<div #actionsContainer class="footer-wrapper" fxLayout="column" fxLayoutAlign="top center" (swipeup)="onSwipeUp($event)" (swipedown)="onSwipeDown($event)">
  <mat-icon *ngIf="!showNavBar" class="show-nav-bar">keyboard_arrow_up</mat-icon>
  <nav class="footer" [ngClass]="{'hidden': !showNavBar}" mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navFooterLinks" [routerLink]="link.route" [class.active]="isActive(link)">
      <div class="tab">
        <img [src]="link.icon" *ngIf="!isActive(link)" />
        <img [src]="link.iconActive" *ngIf="isActive(link)" />
        <span>{{link.label}}</span>
      </div>
    </a>
  </nav>
</div>
