:host {
  display: flex;
  flex: 1;
}

.search {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search-form {
  padding: 10px 25px;
  display: flex;
  background-color: #FAFAFA;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-form-field {
  flex: 1;
}

.search-result {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.no-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  flex: 1;
}

.mat-h2 {
  margin-top: 30px;
}

.icon-search {
  font-size: 60px;
  font-weight: 100;
  height: 60px;
  width: 60px;
}
