.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.sidenav-content {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  position: relative;
}

.main-actions {
  z-index: 2;
}

dso-toolbar {
  height: 45px;
}
