.article-title {
    font-family: 'SFUI';
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    padding: 15px;
    text-transform: uppercase;
}

.article-item {
    height: auto;
    padding-top: 15px;

    .title-area {
        margin-top: 15px;
        padding: 10px 15px;

        .post-title {
          color: #4a4a4a;
          font-size: 12px;
          font-weight: 600;
          font-family: 'SFUI';
          line-height: 15px;
          text-transform: uppercase;
        }
      
        .post-sub-title {
          color: #4a4a4a;
          font-size: 12px;
          font-weight: 500;
          margin-top: 15px;
          line-height: 15px;
        }
    }

    .article-category {
        color: #879aa8;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
        padding: 0px 15px;
        text-transform: uppercase;
    }
}

.divider {
    border-bottom: 1px solid #eeeeee;
}