<div class="article-title divider">{{date}}</div>
<div class="article-title divider">IN THIS ISSUE</div>
<div class="article-item divider" *ngFor="let category of categories" (scroll)="onScroll()">
  <div class="article-category">{{category}}</div>
  <div *ngFor="let post of posts">
    <div *ngIf="post.categoryName === category" (click)="onUniteDetail(post.id)" class="title-area">
        <p class="post-title">{{post.title}}</p>
        <p *ngIf="post.subTitle" class="post-sub-title">{{post.subTitle}}</p>
    </div>
  </div>
</div>
  