.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
}

.main-container {
  background-color: #FAFAFA;
}
