.sidebar {
  width: 285px;
}

#specialyName {
  margin-top: 7px;
}

mat-nav-list {
  padding-top: 0;
}

::ng-deep .mat-nav-list {
  h4 {
    font-weight: bold !important;
  }
  p {
    font-size: 12px !important;
  }
}

.my-list .mat-list-item {
  height: 50px;
}

#header-item {
  height: 150px;
  
  #header-avatar {
    width: 110px;
    height: 110px;
  }
}