<div class="sidebar">
  <mat-nav-list class="my-list">
    <div class="header-item" fxLayout="column">
      <div fxLayout="row">
        <div class="header-avatar" fxFlex="45">
          <img [src]="userPhoto? (baseUrl + '/photoDownload?' + userPhoto) : '../assets/images/profile/icon_user_profile.png'"/>
        </div>
        <div class="header-info" fxFlex="55" fxLayout="column">
          <h4 *ngIf="userName">{{userName}}</h4>
          <p id="specialyName" *ngIf="this.userLocation">{{this.userLocation}}</p>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <mat-list-item *ngFor="let link of links;let i = index" (click)="onClick(link)">
      <mat-icon mat-list-icon class="side-icon" [style.background-image]="getIcons(i)"></mat-icon>
      <a matLine class="side-btn" [style.color]="link.state=='active'?'#000000':'#879aa8'">{{link.label}}</a>
      <mat-divider [inset]="true"></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
