.sidebar {
  width: 280px;
}

#specialyName {
  margin-top: 7px;
}

mat-nav-list {
  padding-top: 0;
}

.side-icon {
  color: #879AA8;
}

::ng-deep .mat-nav-list {
  h4 {
    font-weight: bold !important;
  }
  p {
    font-size: 12px !important;
  }
}

.my-list .mat-list-item {
  height: 50px;
}

.header-item {
  height: 150px;
  padding-left: 18px;
  padding-top: 18px;
  
  .header-avatar {
    img {
      width: 110px;
      height: 110px;
    }
  }

  .header-info {
    padding-top: 10px
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    margin-top: 18px;
  }
}