.contents {
    min-height: calc(100vh - 45px);
    background-color: #f3f4f5;
    padding: 16px 0px 50px;
}

.no-items {
    height: calc(100vh - 45px);
    background-color: #f3f4f5;

    img {
        margin-top: 126px;
    }

    .message-title {
        color: #4a4a4a;
        font-size: 20px;
        font-family: 'SFUI';
        font-weight: 700;
        margin-top: 46px;
        letter-spacing: 1px;
    }

    .message-label {
        width: 270px;
        color: #4a4a4a;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        margin-top: 13px;
        letter-spacing: 1px;
    }
}