<header class="header-profile">
  <nav class="navbar bg-grey">
    <a (click)="close()" class="back-link cursor"><span class="icon-bar icon-back"></span></a>
    <div class="navbar-title-heading">Residency at</div>
  </nav>
</header>
<div class="speciality-container">
  <div class="speciality-search">
    <div class="search-container">
      <input type="text" name="" placeholder="Search ..." [value]="searchText" (input)="changeInput($event)" class="input-search">
      <span class="icon-search"></span>
    </div>
  </div>
  <div class="speciality-content">
    <div class="speciality__list ">
      <div class="list__left">
        <ul class="speciality-ul">
          <li *ngFor="let r of residencies" class="container-r" (click)="_selectResidency(r)"><a href="javascript:void(0)" >{{r.name}}</a>
            <label class="container-checkbox">
              <input type="checkbox" [checked]="residency && residency.id == r.id">
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>