mat-card {
    padding: 16px;
    border-radius: 0;
    background-color: #ffffff;
    box-shadow: none !important;

    .course_logo {
        width: auto;
        height: 116px;
    }

    .course_contents {
        flex: 1 1 auto;
        padding-left: 16px;

        .course_title {
            flex: 1 1 auto;
            min-height: 36px;
            color: #1a191a;
            line-height: 18px;
            font-size: 14px;
            font-family: 'SFUI';
            font-weight: 600;
            letter-spacing: 1px;
        }

        a {
            color: #879aa8;
            width: 24px;
            height: 24px;
            margin-right: -4px;
        }

        .course_presenter {
            color: #4a4a4a;
            font-size: 12px;
            margin: 8px 0px 5px;
            letter-spacing: .5px;
        }

        .rating_bar {
            margin-bottom: 5px;
        }

        .course_level {
            border: 1px solid #dddddd;
            margin-right: 4px;
            padding: 8px;

            img {
                margin-right: 4px;
            }

            label {
                color: #1a191a;
                font-size: 13px;
                font-family: 'SFUI';
                font-weight: 600;
                text-transform: capitalize;
            }
        }

        .course_duration {
            display: flex;
            align-items: center;

            img {
                margin-right: 4px;
            }

            label {
                color: #5e6e7a;
                font-size: 13px;
                font-weight: 500;
            }
        }

        .space {
            flex: 1 1 auto;
        }

        .course_cost {
            color: #5e6e7a;
            font-size: 13px;
            font-family: 'SFUI';
            font-weight: 700;
            display: flex;
            letter-spacing: 1px;
            align-items: center;
        }
    }
}

.course_sponsor {
    line-height: 0px;

    img {
        width: 100%;
    }
}