<nav *ngIf="!checkIsStudent" class="main-nav">
  <div class="container main-nav-fix">
    <div class="main-nav-wrap-icon">
      <a [routerLink]="['/auth', 'welcome']" href="javascript:void(0);">
        <p class="main-nav-icon-back"></p>
      </a>
    </div>
  </div>
</nav>
<section class="login">
  <div *ngIf="!checkIsStudent; else isStudentOrNot" class="login-overlay-primary">
    <div class="logoBox">
      <div class="logo"></div>
    </div>
    <div class="login-content">
      <div class="container">
        <h2 class="form-title">Log In</h2>
        <form [formGroup]="form">
          <div class="form-group">
            <input formControlName="username" class="form-control" type="text" placeholder="Email address" />
            <div *ngIf="username.invalid && (username.dirty || username.touched)">
              <div class="invalid-input" *ngIf="username.errors.required">The email can't be blank.</div>
              <div class="invalid-input" *ngIf="username.errors.email">Please input correct email format.</div>
            </div>
          </div>
          <div class="form-group withActionRight">
            <input [type]="isShowPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Password" />
            <a (click)="isShowPassword = !isShowPassword" class="action">{{isShowPassword ? 'Hide' : 'Show'}}</a>
            <div *ngIf="password.invalid && (password.dirty || password.touched)">
              <div class="invalid-input" *ngIf="password.errors.required">The password can't be blank.</div>
            </div>
          </div>
        </form>
        <div class="form-btn">
          <a [routerLink]="['/auth', 'forgot-password']"><p>Forgot password</p></a>
        </div>
        <div class="loginActions">
          <button [disabled]="false"
                  (click)="submit()"
                  class="btn btn-primary btn-full margin-10"
                  type="button">Log In</button>
          <div *ngIf="is_student" class="btn btn-linkedin-icon btn-full">
            <button class="btn btn-linkedin btn-full" type="button" (click)="onLoginLinkedIn()" *ngIf="!(isUserAuthenticated | async)">
              Login with LinkedIn
            </button>
            <button class="btn btn-linkedin btn-full" type="button" (click)="logoutLinkedIn()" *ngIf="isUserAuthenticated | async">
              Logout from LinkedIn
            </button>
          </div>
        </div>
        <div class="textCenter">
          <a [routerLink]="" class="link underline" (click)="signUp()">Create an account</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #isStudentOrNot>
    <div class="login-overlay-primary">
      <div class="logoBox">
        <div class="logo"></div>
      </div>
      <div class="login-content">
        <div class="container">
          <h2 class="login-title">Are you a student?</h2>
          <p class="login-detail">We use this information to show personalized content that is relevant to you.</p>
          <div class="margin-20">
            <button (click)="redirect('0')" class="btn btn-default btn-full margin-10" type="button">
              Yes
            </button>
            <button (click)="redirect('1')" class="btn btn-default btn-full" type="button">
              No
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>

