<mat-card>
  <div class="job-name">{{review?review.reviewTitle:''}}</div>
  <div fxLayout="row" fxLayout="start center">
    <div class="job-date">{{review?review.reviewDate:''}}</div>
    <div class="space"></div>
    <div class="ratebar" fxLayout="row" fxLayoutAlign="center center">
      <div *ngFor="let rate of rateList; index as i">
        <img *ngIf="this.review && this.review.rating>i;else inactive" src="assets/images/career/review-small-active.png" class="rate-star">
        <ng-template #inactive>
        <img src="assets/images/career/review-small-inactive.png" class="rate-star">
        </ng-template>
      </div>
    </div>
  </div>
  <div class="employee-info">{{employeeIndicator}} - Anonymous Employee</div>
  <div class="review-container">
    <div class="review-label">Pros</div>
    <div class="review-contents">{{review?review.pros:''}}</div>
  </div>
  <div class="review-container">
    <div class="review-label">Cons</div>
    <div class="review-contents">{{review?review.cons:''}}</div>
  </div>
  <div class="review-container">
    <div class="review-label">Advice to Management</div>
    <div class="review-contents">{{review?review.advice:''}}</div>
  </div>
  <div class="spliter"></div>
  <div fxLayout="row" fxLayout="space-between center">
    <div class="review-footer">
      <img *ngIf="review && review.isRecommend" src="assets/images/career/check.png">
      <span>Recommends</span>
    </div>
    <div class="review-footer">
      <img *ngIf="review && review.isApprove" src="assets/images/career/check.png">
      <span>Approve Of CEO</span>
    </div>
  </div>
</mat-card>