.login {
  background-image: url('../images/bg-1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  font-size: 16px;
  
  &-content {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 20px;
    p, h2 {
      color: #FFF;
    }
  }

  &-title {
    font-size: 43px;
    line-height: 53px;
  }

  &-title2 {
    font-size: 37px;
    line-height: 53px;
  }

  &-subTitle {
    font-size: 19px;
    margin-bottom: 20px;
  }

  &-detail {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &-toggle {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
  }

  .loginActions {
    margin-top: 90px;
  }

  .signupActions {
    margin-top: 10px;
  }

}


