.bookmark {
    height: calc(100vh - 45px);
    background-color: #efefef;

    .unite-bookmark-container {
        width: 100%;
        background-color: #efefef;
        overflow: auto;
        scroll-behavior: smooth;
    }
    
    dso-article-card:first-child {
        padding-left: 15%;
    }
    
    dso-article-card:last-child {
        padding-right: calc(15% - 25px);
    }
    
    .article-info {
        padding-bottom: 15px;
    
        .article-date {
            color: #4a4a4a;
            font-family: 'SFUI';
            font-size: 17px;
            font-weight: 600;
            margin-top: 28px;
        }
        
        .article-details {
            color: #9b9b9b;
            font-size: 15px;
            font-weight: 400;
            line-height: 20px;
        }
    }

    .no-content {
        display: flex;
        height: calc(100vh - 200px);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        overflow: auto;
    }
      
    h3 {
        margin-top: 120px;
    }
}
