<section>
  <div class="password-label">Here you can change the password for your DSOD account.</div>
  <form [formGroup]="form">
    <div class="form-group">
      <input formControlName="oldPassword" type="password" class="form-control withBg" placeholder="Current Password">
      <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">
        <div class="invalid-input" *ngIf="oldPassword.errors.required">The password can't be blank</div>
      </div>
    </div>
    <div class="form-group">
      <input formControlName="newPassword" type="password" class="form-control withBg" placeholder="New Password">
      <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        <div class="invalid-input" *ngIf="newPassword.errors.required">The password can't be blank</div>
      </div>
    </div>
  </form>
  <p id="form-warning" class="form-warning" (click)="isShowRequirement = !isShowRequirement">Password Requirements</p>
  <div class="form-helper" *ngIf="isShowRequirement">
    <div class="content">
      Your password should be at least 8-16 characters in length with at least one uppercase letter and one number.<br>
      <br>New password cannot be the same as the password being changed.
    </div>
    <div class="close" (click)="isShowRequirement = false">
      <img src="assets/images/icons/error-icon.png">
    </div>
  </div>
  <div class="confirm-button"><button mat-flat-button (click)="onSubmit()">Confirm</button></div>
</section>