<section [class.hidden]="!isLoaded">
    <div class="header">
        <h3 class="mat-h3">{{post.categoryName}}</h3>
        <span class="mat-body-1">{{post.date | date: 'mediumDate'}}</span>
    </div>
    <div class="inner-thumbnail" fxLayout="column">
        <img src="{{post.thumbnail}}">
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '28')" 
            src="/assets/images/icons/Article@2x.png" />
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '194')" 
            src="/assets/images/icons/Interview@2x.png" />
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '30')" 
            src="/assets/images/icons/Podcast@2x.png" />
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '31')" 
            src="/assets/images/icons/TechGuide@2x.png" />
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '29')" 
            src="/assets/images/icons/Video@2x.png" />
        <img class="type-icon" *ngIf="onCheckCategoryType(post.contentTypeId, '196')" 
            src="/assets/images/icons/TipSheet@2x.png" />
    </div>
    <div class="inner-content" fxLayout="row">
        <span class="title">{{post.title}}</span>
        <div class="actions" fxLayout="row" fxLayoutAlign="end start">
            <a class="bookmark-btn" (click)="onAddBookmark()" *ngIf="!post.isBookmark">
                <mat-icon aria-label="Bookmark">bookmark_border</mat-icon>
            </a>
            <a class="bookmark-btn" (click)="onRemoveBookmark()" *ngIf="post.isBookmark">
                <mat-icon aria-label="Bookmark">bookmark</mat-icon>
            </a>
            <a class="menu-btn" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <img src="assets/images/icons/share.png">
            </a>
            <mat-menu #menu="matMenu" xPosition="before">
                <div class="share-content">
                    <a url="{{sharedUrl}}" shareButton="facebook">
                        <img class="share-btn" src="assets/images/icons/icon-facebook.png">
                    </a>
                    <a url="{{sharedUrl}}" shareButton="twitter">
                        <img class="share-btn" src="assets/images/icons/icon-twitter.png">
                    </a>
                    <a url="{{sharedUrl}}" shareButton="linkedin">
                        <img class="share-btn" src="assets/images/icons/icon-linkediin.png">
                    </a>
                </div>
            </mat-menu>
        </div>
    </div>
    <div class="author" #authorContent [class.author-container]="isAuthorVisible" fxLayout="row" fxLayoutAlign="start center" (click)="feedsByAuthor()">
        <div class="author-area" fxLayout="row" fxLayoutAlign="start center" *ngIf="authorName && authorName.indexOf('DSODentist') > -1">
            <span>By</span><img src="assets/images/icons/logo-color.png">
        </div>
        <div class="author-area" fxLayout="row" fxLayoutAlign="start center" *ngIf="authorName && authorName.indexOf('DSODentist') === -1">
            <div class="author-avatar" fxLayout="row" fxLayoutAlign="start center">
                <span>By</span><img [src]="authorAvatar" *ngIf="authorAvatar" class="round-avatar">
            </div>
            <div class="author-details" fxLayout="column" fxLayoutAlign="center start">
                <p class="author-name">
                    {{authorName}}
                </p>
                <p *ngIf="authorInfo" class="author-info">
                    {{authorInfo}}
                </p>
            </div>
        </div>
    </div>
    <div id="contents" #postContent class="inner-content" [innerHtml]="post.content | safe: 'html'">
    </div>
    <a *ngIf="showReference" (click)="onClickReference()" [ngClass]="{'show-more-btn': showReferenceState === 'Show more', 'show-less-btn': showReferenceState === 'Show less'}">{{showReferenceState}}</a>
    <div class="review" fxLayout="column" fxLayoutAlign="center center" (click)="onAddReview(post.id, post.title, post.date)">
        <div class="review-question">
            <span>Finished the content?</span>
        </div>
        <div class="review-add">
            <span>Add your review</span>
        </div>
        <div>
            <img *ngFor="let rate of rateList" src="assets/images/review/star-inactive.png" class="rate-star">
        </div>
    </div>
    <div fxLayout="row" class="inner-content rate">
        <div fxFlex="50" fxLayout="column" fxLayoutAlign="center start">
            <div class="review-count">
                <span *ngIf="comments && comments.length; else zeReviews">{{comments.length}} Reviews</span>
                <ng-template #zeReviews>
                    <span>0 Reviews</span>
                </ng-template>
            </div>
            <div fxLayout="row" class="ratebar">
                <div *ngFor="let rate of rateList; index as i">
                    <img *ngIf="getRating(comments, 1)>i;else inactive" src="assets/images/review/view-star-active.png" class="rate-star">
                    <ng-template #inactive>
                    <img src="assets/images/review/view-star-inactive.png" class="rate-star">
                    </ng-template>
                </div>
                <span class="review-count">{{getRating(comments, 0)}}</span>
            </div>
        </div>
        <div fxFlex="50" fxLayoutAlign="end center">
            <button mat-button class="viewBtn" (click)="onViewAll(post.id)">View all</button>
        </div>
    </div>
    <div fxLayout ="column">
        <dso-review-card [comment]="comment" *ngFor="let comment of comments | slice:0:3"></dso-review-card>
    </div>
    <div class="inner-content" fxLayout="row">
        <div class="actions" fxFlex="100" fxLayoutAlign="end start">
            <a class="bookmark-btn" (click)="onAddBookmark()" *ngIf="!post.isBookmark">
                <mat-icon aria-label="Bookmark">bookmark_border</mat-icon>
            </a>
            <a class="bookmark-btn" (click)="onRemoveBookmark()" *ngIf="post.isBookmark">
                <mat-icon aria-label="Bookmark">bookmark</mat-icon>
            </a>
            <a class="menu-btn" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <img src="assets/images/icons/share.png">
            </a>
            <mat-menu #menu="matMenu" xPosition="before">
                <div class="share-content">
                    <a url="{{sharedUrl}}" shareButton="facebook">
                        <img class="share-btn" src="assets/images/icons/icon-facebook.png">
                    </a>
                    <a url="{{sharedUrl}}" shareButton="twitter">
                        <img class="share-btn" src="assets/images/icons/icon-twitter.png">
                    </a>
                    <a url="{{sharedUrl}}" shareButton="linkedin">
                        <img class="share-btn" src="assets/images/icons/icon-linkediin.png">
                    </a>
                </div>
            </mat-menu>
        </div>
    </div>
</section>
