@import "../../../../responsive";

section {
    background-color: #fff;
}

.inner-content {
    width: 100%;
    height: auto;
    padding: 19px 19px;
    position: relative;
    display: block;

    .inner-thumbnail {
        margin-top: 20px;
    }
}

.inner-content.gsk {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 29px 0px;
  
    .label-gsk {
        color: #9b9b9b;
        font-size: 13px;
        font-weight: 400
    }
}

.inner-thumbnail {
    width: 100%;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background-color: #FAFBFD;
  
    .mat-h3 {
      text-transform: uppercase;
      flex: 1;
      margin-bottom: 0;
      letter-spacing: 0.9px;
      font-size: 0.8em;
      font-weight: 500;
    }
  
    .date {
      color: #D8D8D8;
    }
  
    .mat-body-1 {
      align-self: center;
      font-size: 12px;
      letter-spacing: 0.8px;
      font-weight: 300;
      color: #9b9b9b;
    }
  }

.title {
    flex: 1;
    color: #354051;
    font-family: 'SFUI';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 7px;
}

.rate-star {
    margin-right: 3px;
}

.review {
    border-top: 1px solid #efefef;
    background-color: #f8f8f8;
    padding: 18px;

    div {
        background-color: #f8f8f8;
    }

    .review-question {
        color: #9b9b9b;
        line-height: 15px;
        font-size: 13px;
        font-weight: 400px;
    }
    
    .review-add {
        color: #4a4a4a;
        line-height: 15px;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 10px; 
    }
}

.rate {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding: 18px 19px;

    .review-count {
        color: #4a4a4a;
        font-size: 13px;
        font-weight: 600;
    }

    .mat-button {
        min-width: 50px;
    }
    
    .viewBtn {
        color: #879aa8;
        font-size: 12px;
        font-weight: 500;
        padding: 0px;
    }

    .ratebar {
        margin-top: 12px;
    }
}



.author {
    margin-left: 19px;
    width: calc(100% - 19px);

    #author-avatar {
        width: auto;
        height: 32px;
        padding: 5px;
        display: table;

        span {
            display: table-cell;
            color: #4a4a4a;
            font-family: "SFUI";
            font-size: 18px;
            font-weight: 600;   
            vertical-align: middle;
        }

        img {
            display: table-cell;
            width: auto;
            height: 22px;
            margin-left: 10px;
            vertical-align: middle;
        }
    }

    .author-area {
        margin-left: 10px;

        #author-name {
            color: #4a4a4a;
            font-family: "SFUI";
            font-size: 13px;
            font-weight: 600;
        }
    
        #author-info {
            color: #9b9b9b;
            font-size: 13px;
            font-weight: 400;
            margin-top: 5px;
        } 
    }
}

.btn-pn {
    color: #879aa8;
    font-size: 13px;
    font-weight: 600;
}

.inner-html-margin {
    margin-bottom: 10px;
}

#contents {
    color:#4a4a4a;
    width: 100%;
    height: auto;
    line-height:25px;
    font-size:15px;
}

.actions {
    .menu-btn {
      color: lightslategrey;
      margin-left: 5px;
    }
  
    .bookmark-btn {
      color: lightslategrey;
    }
  
    .mat-icon {
      margin-top: 8px;
    }
}
  
.share-btn {
    width: 35px;
    height: auto;
    margin-right: 10px;
}
  
.share-content {
    padding-left: 10px;
}

div {
    background-color: #fff;
}

.show-more-btn {
    text-decoration: underline !important;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: -60px;
    margin-bottom: 80px;
    z-index: 999;
    position: relative;
}

.show-less-btn {
    text-decoration: underline !important;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
}

:host ::ng-deep {
    h2 {
        font-family: "SFUI";
        font-size: 18px;
        font-weight: 600;
    }

    iframe {
        max-width: 100%;
    }

    video {
        background-color: black;
        max-width: 100%;
    }

    figure {
        max-width: 100%;
        height: auto;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .show-more {
        max-height: 400px;
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            display: block;
            z-index: 999;
            position: absolute;
            bottom: -20px;
            width: 100%;
            height: 60px;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
    }

    .show-less {
        max-height: 9000px;
    }

    ol, ul {
        font-size: 13px;
        padding-left: 25px !important;
        margin-left: 0 !important;
        margin-bottom: 40px !important;
    }

    ol {
        list-style-type: decimal 
    }

    ul {
        list-style-type: inherit
    }
}
