div {
    padding: 1px 0px;
}

mat-card {
    min-height: 110px;
    margin-left: 18px;
    padding: 16px 18px;
    padding-left: 0px;
    border-bottom: 1px solid #dddddd;
    border-radius: 0px;
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 0px 0 #dddddd;
}

.mat-card-avatar {
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.user-name {
    color: #2c2605;
    font-size: 13px;
    font-weight: 600;   
}

.review-date {
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
}

.review-content {
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400
}

.statebar {
    margin-left: 5px;

    .state-star {
        width: 16px;
        height: 16px;
        margin-right: 2px;
    }
}