.jobs-count {
    padding: 16px;
    color: #4a4a4a;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

#contents {
    height: calc(100vh - 93px);
    overflow: auto;
}

.btn-go-to-top {
    bottom: 55px;
}

.no-content {
    width: 100%;
    height: calc(100vh - 94px);

    .no-message {
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        margin-top: 80px;
    }
}