
.search-options {
    .search-form {
        padding: 10px 25px;
        display: flex;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      
        button {
          margin-left: 10px;
        }
      
        ::ng-deep mat-form-field {
          flex: 1;

            .mat-form-field-wrapper {
                margin: 0px;
                padding: 0px;

                .mat-form-field-infix {
                    padding: 0px 0px 10px;
                }

                .mat-form-field-suffix {
                    top: 9px;
                }
            }
        }
    }

    .form-field {
        width: 45vw;
    }

    p {
        margin-top: 5px;
    }
}

.jobs-count {
    padding: 16px;
    color: #4a4a4a;
    background-color: #ffffff;
    font-size: 13px;
    font-weight: 400;
}

#contents {
    height: calc(100vh - 45px);
    padding-bottom: 50px;
    overflow: auto;
}

.btn-go-to-top {
    bottom: 30px;
}

.no-content {
    width: 100%;
    height: calc(100vh - 94px);

    .no-message {
        color: #000000;
        font-size: 15px;
        font-weight: 400;
        margin-top: 80px;
    }
}