<div #actionsContainer class="career-actions" fxLayout="column" fxLayoutAlign="top center" (swipeup)="onSwipeUp($event)" 
      (swipedown)="onSwipeDown($event)">
  <mat-icon *ngIf="!showNavBar" class="show-nav-bar">keyboard_arrow_up</mat-icon>
  <nav class="footer" [ngClass]="{'hidden': !showNavBar}" mat-tab-nav-bar>
    <a *ngFor="let link of links; index as i" fxLayout="column" fxLayoutAlign="center center" 
      class="action-item" (click)="onGoTo(i)">
      <div class="action-avatar" fxLayout="column" fxLayoutAlign="center center">
        <img [src]="'assets/images/education/' + link.icon + '_' + link.state + '.png'">
      </div>
      <label [class.active]="link.state === 'active'" class="action-title">{{link.label}}</label>
    </a>
  </nav>
</div>