<div class="unite-view" fxLayout="column" fxLayoutAlign="center center" (click)="onBackPage()">
    <div class="view-container" fxLayout="row" fxLayoutAlign="start center">
        <div *ngFor="let unite of unites" (click)="onDetailUnite(unite.id)">
        <img [src]="unite.thumbnail"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="unite-arrow unite-left"></div>
        <div class="footer-label">Swipe between articles</div>
        <div class="unite-arrow unite-right"></div>
    </div>
</div>