<div class="unite-view" fxLayout="column" fxLayoutAlign="center center" (click)="onBackPage()">
    <div class="view-container" fxLayout="row" fxLayoutAlign="start center">
        <div>
            <img src="assets/images/unite/cover-page.png">
        </div>
        <div *ngFor="let post of posts" (click)="onDetailUnite(post.id)">
            <img [src]="post.thumbnail">
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div class="unite-arrow unite-left"></div>
        <div class="footer-label">Swipe between articles</div>
        <div class="unite-arrow unite-right"></div>
    </div>
</div>