.unite-view {
    width: 100%;
    height: calc(100vh - 45px);
    background-color: #000;
    position: relative;

    .view-container {
        width: 100%;
        overflow-x: auto;
        position: relative;

        dso-screen-card:last-child {
            margin-right: 0px
        }
    }
}



