.unite-view {
    width: 100%;
    height: calc(100vh - 45px);
    background-color: #000;

    .view-container {
        width: 100vw;
        overflow-x: auto;

        dso-screen-card {
        }

        dso-screen-card:last-child {
            margin-right: 0px
        }
    }
}




