.unite-view {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;

    .view-container {
        width: 100vw;
        overflow-x: auto;

        dso-screen-card:last-child {
            margin-right: 0px;
        }
    }
}




