<mat-card>
  <div class="header">
    <h3 class="mat-h3">{{filterCategories(post?.categories)}}</h3>
    <span class="mat-body-1">{{post.date | date: 'mediumDate'}}</span>
  </div>
  <mat-card-content>
    <div class="image" *ngIf="post.thumbnail; else elseBlock" (click)="onViewDetail()">
      <img [src]="post.thumbnail"/>
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 28)" src="/assets/images/Article@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 194)" src="/assets/images/Interview@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 30)" src="/assets/images/Podcast@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 31)" src="/assets/images/TechGuide@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 29)" src="/assets/images/Video@2x.png" />
      <img class="type-icon" *ngIf="onCheckCategoryType(post.categories, 196)" src="/assets/images/TipSheet@2x.png" />
    </div>
    <ng-template #elseBlock>
      <div class="image sponsor" (click)="onViewDetail()">
        <img src="../../../assets/images/sponsor/align-header.png" *ngIf="onCheckSponsorType(post.tags,260)"/>
        <img src="../../../assets/images/sponsor/gsk-header.png" *ngIf="onCheckSponsorType(post.tags,197)"/>
        <img src="../../../assets/images/sponsor/nobel-header.jpg" *ngIf="onCheckSponsorType(post.tags,259)"/>
      </div>         
    </ng-template>
    <img *ngIf="isGsk(post.tags)" class="inner-thumbnail" src = "assets/images/sponsor/gsk-banner.png" (click)="onPostSponsor('gsk')">
    <img *ngIf="isAlign(post.tags)" class="inner-thumbnail" src = "assets/images/sponsor/align-banner.png" (click)="onPostSponsor('align')">
    <img *ngIf="isNobel(post.tags)" class="inner-thumbnail" src = "assets/images/sponsor/nobel-banner.png" (click)="onPostSponsor('nobel')">
    <div class="content">
      <div class="content-title">
        <span class="mat-h2" (click)="onViewDetail()" [innerHtml]="post.title"></span>
        <div class="actions">
          <a class="bookmark-btn" (click)="onAddBookmark()" *ngIf="!post.bookmarked">
            <mat-icon aria-label="Bookmark">bookmark_border</mat-icon>
          </a>
          <a class="bookmark-btn" (click)="onRemoveBookmark()" *ngIf="post.bookmarked">
            <mat-icon aria-label="Bookmark">bookmark</mat-icon>
          </a>
          <a class="menu-btn" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon aria-label="Options">more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu" xPosition="before">
            <div class="share-content">
              <a class="bookmark-btn" url="{{post.link}}" shareButton="facebook">
                <img class="share-btn" src="assets/images/icon-facebook.png">
              </a>
              <a class="bookmark-btn" url="{{post.link}}" shareButton="twitter">
                <img class="share-btn" src="assets/images/icon-twitter.png">
              </a>
              <a class="menu-btn" url="{{post.link}}" shareButton="linkedin">
                <img class="share-btn" src="assets/images/icon-linkediin.png">
              </a>
            </div>
          </mat-menu>
        </div>
      </div>
      <div class="inner-content" (click)="onViewDetail()" style="overflow: hidden">
        <div id="contents{{no}}" class="mat-body-1" [class.excerpt-content]="!isViewMore" [innerHtml]="post.excerpt">
          {{fetchAuthorInfo()}}
        </div>
        <a id="more-text-btn">... more</a>
      </div>
    </div>
  </mat-card-content>
</mat-card>
