@import "../../../variables";
@import "../../../responsive";

mat-card {
  padding: 0;
  border-radius: 0;
  box-shadow: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: #cececf;

  .mat-h3 {
    text-transform: uppercase;
    flex: 1;
    margin-bottom: 0;
    letter-spacing: 0.9px;
    font-size: 0.8em;
    font-weight: 500;
    color: $primary;
  }

  .date {
    color: #D8D8D8;
  }

  .mat-body-1 {
    align-self: center;
    font-size: 12px;
    letter-spacing: 0.8px;
    font-weight: 300;
    color: #616161;
  }
}

.content {
  display: block;
  padding: 28px 20px 10px;
}

.image {
  text-align: center;
  position: relative;

  img {
    width: 100%;
    height: auto;
    margin-bottom: -10px;
  }

  .type-icon {
    width: 40px;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}

.content-title {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  .mat-h2 {
    flex: 1;
    color: #354051;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
  }
}

.actions {
  .menu-btn {
    color: lightslategrey;
    margin-left: 5px;
  }

  .bookmark-btn {
    color: lightslategrey;
  }

  .mat-icon {
    margin-top: 4px;
  }
}

.share-btn {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.share-content {
  padding-left: 10px;
}

.inner-content {
  overflow: scroll;
  position: relative;
  display: block;
  cursor: pointer;
}

.icon-type {
  margin-right: 10px;
  width: 28px;
  height: 28px;
}

.sponsor {
  text-align: center;

  img {
    display: none;
  }

  @include phone {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

.excerpt-content {
  height: 77px;
  overflow: hidden;
}

#more-text-btn {
  color: #879aa8;
  position: absolute;
  background-color: white;
  bottom: 0;
  letter-spacing: 1px;
  right: 0px;
  font-size: 15px;
  font-weight: 600;
}

mat-card-content>img {
  width: 100%;
}