p {
    color: #879aa8;
    font-size: 14px;
    font-family: 'SFUI';
    font-weight: 600;
}

li {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 400;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.text-right {
    margin-right: -15px;
    text-align: right;
}

.expansion-panel {
    .mat-expansion-panel-header {
        background-color: #fafbfd;
        margin-bottom: 10px;
    }
}
