/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import "_variables.scss";

@include mat-core();

body {
  margin: 0;
}

p.first-big::first-letter {
  font-size: 40px;
  color: #626262;
  float: left;
  margin: 10px 6px 2px 0;
}


*, *:focus, *:active, *:hover {
  outline: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.cursor {
  cursor: pointer;
}

.validation-message {
  color: red;
}

.alert-button {
  color: #007aff !important;
  background: none !important;
  padding: 0.3em 0.7em 0 0.7em !important;
  width: 105px !important;
}

.alert-button:focus {
  box-shadow: none !important;
}

.alert-confirm-button {
  padding: 0.3em 1em 0 !important;
}

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);
