.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.search {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.search-form {
  padding: 10px 25px;
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  form {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }

  button {
    margin-left: 10px;
  }

  ::ng-deep mat-form-field {
    flex: 1;

    .mat-form-field-wrapper {
      margin: 0px;
      padding: 0px;

      .mat-form-field-infix {
          padding: 0px 0px 10px;
      }

      .mat-form-field-suffix {
          top: 9px;
      }
    }
  }
}
