<mat-card fxLayout="row" fxLayoutAlign="start center" (click)="onGoToCompanyDetail()">
    <div *ngIf="company.logo" class="company-logo" fxLayoutAlign="center center">
        <img [src]="company.logo">
    </div>
    <div class="space">
        <div class="company-name">{{company.name}}</div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="ratebar" fxLayout="row" fxLayoutAlign="start center">
                <div *ngFor="let rate of rateList; index as i">
                    <img *ngIf="rating>i;else inactive" src="assets/images/career/review-small-active.png" class="rate-star">
                    <ng-template #inactive>
                    <img src="assets/images/career/review-small-inactive.png" class="rate-star">
                    </ng-template>
                </div>
                <div *ngIf="!company.logo" class="review-rating">{{company.rating}}</div>
            </div>
            <div *ngIf="!company.logo" class="space"></div>
            <div class="review-count">{{company.reviews}} Reviews</div>
        </div>
        <div *ngIf="company.logo" class="company-location">{{company.city}}, {{company.state}}</div>
    </div>
    <div>
        <img src="assets/images/profile/arrow-right.png">
    </div>
</mat-card>
<mat-divider></mat-divider>