.avatar-section {
    padding: 37px 0px 46px;

    .user-avatar {
        width: 100px;
        height: 100px;
        border: 1px solid #879aa8;
        position: relative;
    
        img {
            max-width: 100%;
            height: auto;
        }
    
        button {
            position: absolute;
            bottom: -20px;
            right: -15px;
        }
    }
}

.details-section {
    border: 1px solid rgba(135, 154, 168, 0.19);
    background-color: #ffffff;
    padding-left: 28px;

    .user-profile {
        padding: 10px 20px;
        padding-left: 2px;

        img:first-child {
            margin-right: 14px;
        }
        
        .user-name {
            color: #4a4a4a;
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
        }

        .user-label {
            color: #9b9b9b;
            font-size: 13px;
        }
    }
}

.space {
    flex: 1 1 auto;
}
