<div class="avatar-section" fxLayout="row" fxLayoutAlign="center center">
  <div class="user-avatar" fxLayout="column" fxLayoutAlign="end center">
    <img [src]="userUrl">
    <button mat-icon-button><img src="assets/images/career/upload.png" (click)="onGoToProfile()"></button>
  </div>
</div>
<div class="details-section">
  <div class="user-profile" fxLayout="row" fxLayoutAlign="start center">
    <img src="assets/images/career/user.png">
    <p fxLayout="column" fxLayoutAlign="center top">
      <label class="user-name">{{userName}}</label>
      <label class="user-label">Profile</label>
    </p>
    <p class="space"></p>
    <img src="assets/images/profile/arrow-right.png" (click)="onGoToProfile()">
  </div>
  <mat-divider></mat-divider>
  <div class="user-profile" fxLayout="row" fxLayoutAlign="start center">
    <img src="assets/images/career/resume.png">
    <p fxLayout="column" fxLayoutAlign="center top">
      <label class="user-name">Resume</label>
      <label class="user-label">No uploaded resume</label>
    </p>
    <p class="space"></p>
    <img src="assets/images/profile/arrow-right.png" (click)="onGoToProfile()">
  </div>
</div>