<div class="company-name" (click)="clear()">{{name}}</div>
<div class="ratebar" fxLayout="row" fxLayoutAlign="center center"  (click)="clear()">
  <div *ngFor="let item of rateList; index as i">
    <img *ngIf="rate>i;else inactive" class="active" src="assets/images/career/review-small-active.png">
    <ng-template #inactive>
      <img class="inactive" src="assets/images/career/review-small-inactive.png">
    </ng-template>
  </div>
</div>
<div class="company-reivews"  (click)="clear()">{{allReviews ? allReviews.length : 0}} Reviews</div>
<div class="company-options" fxLayout="row" fxLayoutAlign="center center">
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-button (click)="onCheckSortOption()">
      <p class="option-avatar"><img src="assets/images/career/sort.png"></p>
      <p fxLayout="column" fxLayoutAlign="center start">
        <label class="sort-label">SORT BY</label>
        <label class="refine-label" fxLayout="row" fxlayoutAlign="start center">
          <span>{{activeSort.title}}</span>
          <mat-icon *ngIf="activeSort.title==='Date'">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="activeSort.title!=='Date'">keyboard_arrow_up</mat-icon>
        </label>
      </p>
    </button>
    <ul [class.hidden]="!isCheckedSort">
      <li *ngFor="let item of sortType; index as i" (click)="onSort(i)" 
        [class.active]="i===activedSortId" [class.default]="i!==activedSortId"
        fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{item.title}}</span>
        <mat-icon *ngIf="i===0">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="i!==0">keyboard_arrow_up</mat-icon>
      </li>
    </ul>
  </div>
  <div class="spliter"></div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <button mat-button (click)="onCheckRefineOption()">
      <p class="option-avatar"><img src="assets/images/career/refine.png"></p>
      <p fxLayout="column" fxLayoutAlign="center start">
        <label class="sort-label">REFINE</label>
        <label class="refine-label">{{activeRefine.title}}</label>
      </p>
    </button>
    <ul [class.hidden]="!isCheckedRefine">
      <li *ngFor="let item of refineType; index as i" (click)="onRefine(i)"
        [class.active]="i===activedRefineId" [class.default]="i!==activedRefineId"
        fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{item.title}}</span>
        <img *ngIf="i===activedRefineId" src="assets/images/career/check.png">
      </li>
    </ul>
  </div>
</div>
<div class="review-contents" (click)="clear()">
  <dso-company-review-extend-card [review]="review" [companyName]="name" *ngFor="let review of reviews">
  </dso-company-review-extend-card>
</div>
