div {
    height: calc(100vh - 45px);
    background: url("/assets/images/bg-3.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}