:host {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  border-radius: 3px;
  display: block;
  // padding-bottom: 65px;
  height: 100%;
}

.mat-dialog-content {
  height: 65px;
}

.alertModal {
  text-align: center;
  .mat-button {
    width: 100%;
    color: #007AFF;
    font-weight: 400;
    font-size: 19px;
    border-top: 1px solid #ddd;
  }
}